<p align="left">
  <img src="../examples\assets\log-hub-github-header.png" alt="Header Image"  width="980"/>
</p>

# Log-hub Python API library

## Introduction

The `pyloghub` package provides convinient access to various Log-hub API services for Supply Chain Visualization, Network Design Optimization, and Transport Optimization as well as access to the Log-hub platform data.

### Prerequisites

- Python 3.10 or later recommended
- Pip (Python package manager)
- Log-hub API key
- Supply Chain APPS PRO subscription

## Installation

### Setting Up Python Environment

#### Recommended Python Version

Python 3.10 or later is recommended for optimal performance and compatibility.

#### Optional: Setting Up a Virtual Environment

A virtual environment allows you to manage Python packages for different projects separately.

1. **Create a Virtual Environment**:
   - **Windows**: 
     ```bash
     python -m venv loghub_env
     ```
   - **macOS/Linux**: 
     ```bash
     python3 -m venv loghub_env
     ```

2. **Activate the Virtual Environment**:
   - **Windows**: 
     ```bash
     source loghub_env/Scripts/activate
     ```
   - **macOS/Linux**: 
     ```bash
     source loghub_env/bin/activate
     ```

   Deactivate with `deactivate` when done.

### Installing `pyloghub` Package

Within the environment, install the package using:

```bash
pip install pyloghub
 ```

## Configuration

### Obtaining an API Key

1. Sign up or log in at [Log-hub Account Integration](https://production.supply-chain-apps.log-hub.com/sca/account/integration).
2. Obtain your API key.

### Setting Up Your Environment

Securely store your API key for use in your Python scripts or as an environment variable.

In [8]:
api_key = 'YOUR_API_KEY'

## Usage

### Sample Code: Reverse Distance Calculation

This example demonstrates using the Reverse Distance Calculation feature:

In [37]:
# Import Functions
from pyloghub.distance_calculation import reverse_distance_calculation, reverse_distance_calculation_sample_data

# Load Sample data
sample_data = reverse_distance_calculation_sample_data()
geocode_data_df = sample_data['geocode_data']
parameters = sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']

# Run Calculation
reverse_distance_result_df = reverse_distance_calculation(geocode_data_df, parameters, api_key, save_scenario)

# View Results
reverse_distance_result_df.head()

,senderLocation,senderLatitude,senderLongitude,recipientLocation,recipientLatitude,recipientLongitude,dist,time,beeline,distanceUnit,durationUnit
0,San Francisco,37.764799,-122.46299,Fresno,36.671350,-119.815535,311.98,207.33,264.07,km,min
1,San Francisco,37.764799,-122.46299,Sacramento,38.473226,-121.298071,167.06,118.26,128.80,km,min
2,San Francisco,37.764799,-122.46299,Long Beach,33.777466,-118.188487,655.34,409.56,587.47,km,min
3,San Francisco,37.764799,-122.46299,Oakland,37.804456,-122.271356,22.86,21.53,17.41,km,min
4,San Francisco,37.764799,-122.46299,Bakersfield,35.244232,-118.973666,474.06,299.14,419.25,km,min

## Available Functionalities

### Overview

`pyloghub` offers a suite of functionalities to enhance your supply chain management processes. Below is a quick guide to the available features and sample usage for each.

<p align="left">
  <img src="../examples\assets\geocoding.png" alt="Header Image"  width="980"/>
</p>

#### Forward Geocoding
Convert addresses to geographic coordinates.

In [2]:
from pyloghub.geocoding import forward_geocoding, forward_geocoding_sample_data

sample_data = forward_geocoding_sample_data()
addresses_df = sample_data['addresses']
save_scenario = sample_data['saveScenarioParameters']
forward_geocoding_result_df = forward_geocoding(addresses_df, api_key, save_scenario)
forward_geocoding_result_df.head()

,country,state,postalCode,city,street,searchString,parsedCountry,parsedState,parsedPostalCode,parsedCity,parsedStreet,parsedLatitude,parsedLongitude,validationQuality
0,RU,,,Moscow,,,RU,Moscow,,Moscow,,55.750541,37.617478,90
1,TR,,,Istanbul,,,TR,,34122,Istanbul,,41.006381,28.975872,91
2,GB,,,London,,,GB,England,,London,,51.507446,-0.127765,89
3,RU,,,Sankt Petersburg,,,RU,Saint Petersburg,,Saint Petersburg,,59.938732,30.316229,89
4,DE,,,Berlin,,,DE,,,Berlin,,52.510885,13.398937,86

#### Reverse Geocoding
Convert geographic coordinates to addresses.

In [ ]:
from pyloghub.geocoding import reverse_geocoding, reverse_geocoding_sample_data

sample_data = reverse_geocoding_sample_data()
geocodes_df = sample_data['geocodes']
save_scenario = sample_data['saveScenarioParameters']
reverse_geocoding_result_df = reverse_geocoding(geocodes_df, api_key, save_scenario)
reverse_geocoding_result_df.head()

,latitude,longitude,parsedCountry,parsedState,parsedPostalCode,parsedCity,parsedStreet
0,55.479205,37.327330,RU,Москва,142793,,проспект Славского
1,41.076602,29.052495,TR,İstanbul,34342,Beşiktaş,Cevdetpaşa Caddesi
2,51.507322,-0.127647,GB,England,,London,
3,59.960674,30.158655,RU,Санкт-Петербург,,,
4,52.519854,13.438596,DE,,10249,Berlin,Friedenstraße

<p align="left">
  <img src="../examples\assets\distance_calculation.png" alt="Header Image"  width="980"/>
</p>

#### Forward Distance Calculation
Calculate distances based on address data.

In [ ]:
from pyloghub.distance_calculation import forward_distance_calculation, forward_distance_calculation_sample_data

sample_data = forward_distance_calculation_sample_data()
address_data_df = sample_data['address_data']
parameters = sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']
forward_distance_calculation_result_df = forward_distance_calculation(address_data_df, parameters, api_key, save_scenario)
forward_distance_calculation_result_df.head()

,senderCountry,senderState,senderPostalCode,senderCity,senderStreet,parsedSenderLatitude,parsedSenderLongitude,senderStatus,recipientCountry,recipientState,...,recipientCity,recipientStreet,parsedRecipientLatitude,parsedRecipientLongitude,recipientStatus,dist,time,beeline,distanceUnit,durationUnit
0,US,CA,,San Francisco,,37.779259,-122.419329,ok,US,CA,...,Fresno,,36.739442,-119.784830,ok,299.30,193.59,260.23,km,min
1,US,CA,,San Francisco,,37.779259,-122.419329,ok,US,CA,...,Sacramento,,38.581061,-121.493895,ok,139.79,94.98,120.38,km,min
2,US,CA,,San Francisco,,37.779259,-122.419329,ok,US,CA,...,Long Beach,,33.769016,-118.191604,ok,650.88,404.49,586.63,km,min
3,US,CA,,San Francisco,,37.779259,-122.419329,ok,US,CA,...,Oakland,,37.804456,-122.271356,ok,18.46,16.97,13.30,km,min
4,US,CA,,San Francisco,,37.779259,-122.419329,ok,US,CA,...,Bakersfield,,35.373871,-119.019463,ok,455.35,285.39,404.55,km,min

#### Reverse Distance Calculation
Calculate distances based on geocode data.

In [ ]:
from pyloghub.distance_calculation import reverse_distance_calculation, reverse_distance_calculation_sample_data

sample_data = reverse_distance_calculation_sample_data()
geocode_data_df = sample_data['geocode_data']
parameters = sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']
reverse_distance_calculation_df = reverse_distance_calculation(geocode_data_df, parameters, api_key, save_scenario)
reverse_distance_calculation_df.head()

,senderLocation,senderLatitude,senderLongitude,recipientLocation,recipientLatitude,recipientLongitude,dist,time,beeline,distanceUnit,durationUnit
0,San Francisco,37.764799,-122.46299,Fresno,36.671350,-119.815535,311.98,207.33,264.07,km,min
1,San Francisco,37.764799,-122.46299,Sacramento,38.473226,-121.298071,167.06,118.26,128.80,km,min
2,San Francisco,37.764799,-122.46299,Long Beach,33.777466,-118.188487,655.34,409.56,587.47,km,min
3,San Francisco,37.764799,-122.46299,Oakland,37.804456,-122.271356,22.86,21.53,17.41,km,min
4,San Francisco,37.764799,-122.46299,Bakersfield,35.244232,-118.973666,474.06,299.14,419.25,km,min

<p align="left">
  <img src="../examples\assets\supply_chain_maps.png" alt="Header Image"  width="980"/>
</p>

#### Creating a Supply Chain Map
In order to create a Supply Chain Map, a Workspace Id is required. Please, go to the platform and click on the "three dots" next to the workspace in which you want to save the map. Click on "Copy Workspace Id" and paste the corresponding workspace id instead of "YOUR WORKSPACE ID". If there are no workspaces, please create one using the GUI.

#### Forward Supply Chain Map Locations
Creating a map of locations based on their addresses.

In [35]:
from pyloghub.supply_chain_map_locations import forward_supply_chain_map_locations_sample_data, forward_supply_chain_map_locations
from pyloghub.save_to_platform import create_the_button
from IPython.display import display

sample_data = forward_supply_chain_map_locations_sample_data()
address_data_df = sample_data['addresses']
save_scenario = sample_data['saveScenarioParameters']
save_scenario['workspaceId'] = "YOUR WORKSPACE ID"
save_scenario['scenarioName'] = "YOUR SCENARIO NAME"

locations_df = forward_supply_chain_map_locations(address_data_df, api_key, save_scenario)
display(locations_df.head())
create_the_button(save_scenario['workspaceId'], api_key, save_scenario['scenarioName'])

,name,country,state,postalCode,city,street,layer,quantity,nameDescription1,nameDescription2,latitude,longitude
0,CG-12970,US,Kentucky,42420,Henderson,,South,2145.11,South,Supermarket,37.767210,-87.557374
1,JE-16615,US,Wisconsin,53132,Franklin,,Central,9439.45,Central,Discount Store,42.888627,-88.038418
2,DV-13495,US,California,90036,Los Angeles,,West,5907.48,West,Discount Store,34.053691,-118.242766
3,BF-11425,US,North Carolina,28205,Charlotte,,South,4529.33,South,Discount Store,35.227209,-80.843083
4,SO-20785,US,Florida,33311,Fort Lauderdale,,South,15881.34,South,Supermarket,26.122308,-80.143379

Button(button_style='success', description='Open the map', icon='map', layout=Layout(height='40px', width='200…

#### Reverse Supply Chain Map Locations
Creating a map of locations based on their geocodes.

In [38]:
from pyloghub.supply_chain_map_locations import reverse_supply_chain_map_locations_sample_data, reverse_supply_chain_map_locations
from pyloghub.save_to_platform import create_the_button
from IPython.display import display

sample_data = reverse_supply_chain_map_locations_sample_data()
coordinates_df = sample_data['coordinates']
save_scenario = sample_data['saveScenarioParameters']
save_scenario['workspaceId'] = "YOUR WORKSPACE ID"
save_scenario['scenarioName'] = "YOUR SCENARIO NAME"

locations_df = reverse_supply_chain_map_locations(coordinates_df, api_key, save_scenario)
display(locations_df.head())
create_the_button(save_scenario['workspaceId'], api_key, save_scenario['scenarioName'])

,name,latitude,longitude,layer,quantity,nameDescription1,nameDescription2
0,CG-12970,37.827384,-87.559035,South,2145.11,South,Supermarket
1,JE-16615,42.905176,-88.016468,Central,9439.45,Central,Discount Store
2,DV-13495,34.066482,-118.352039,West,5907.48,West,Discount Store
3,BF-11425,35.241809,-80.801737,South,4529.33,South,Discount Store
4,SO-20785,26.153974,-80.169490,South,15881.34,South,Supermarket

Button(button_style='success', description='Open the map', icon='map', layout=Layout(height='40px', width='200…

#### Forward Supply Chain Map Relations
Creating a map of relations based on the addresses.

In [37]:
from pyloghub.supply_chain_map_relations import forward_supply_chain_map_relations_sample_data, forward_supply_chain_map_relations
from pyloghub.save_to_platform import create_the_button
from IPython.display import display

sample_data = forward_supply_chain_map_relations_sample_data()
address_data_df = sample_data['addresses']
parameters = sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']
save_scenario['workspaceId'] = "YOUR WORKSPACE ID"
save_scenario['scenarioName'] = "YOUR SCENARIO NAME"

relations_df = forward_supply_chain_map_relations(address_data_df, parameters, api_key, save_scenario)
display(relations_df.head())
create_the_button(save_scenario['workspaceId'], api_key, save_scenario['scenarioName'])

,senderCountry,senderState,senderPostalCode,senderCity,senderStreet,parsedSenderLatitude,parsedSenderLongitude,recipientCountry,recipientState,recipientPostalCode,recipientCity,recipientStreet,parsedRecipientLatitude,parsedRecipientLongitude,senderLocationLayer,recipientLocationLayer,relationLayer,quantity,senderName,recipientName
0,US,Kentucky,40003,,,38.255597,-85.061561,US,Kentucky,42420,Henderson,,37.767210,-87.557374,Warehouse,South,Distribution,2145,Center 8,CG-12970
1,US,Illinois,60516,Downers Grove,,41.793682,-88.010228,US,Wisconsin,53132,Franklin,,42.888627,-88.038418,Warehouse,Central,Distribution,9439,Center 13,JE-16615
2,US,California,92801,Anaheim,,33.834752,-117.911732,US,California,90036,Los Angeles,,34.053691,-118.242766,Warehouse,West,Distribution,5907,Center 5,DV-13495
3,US,Virginia,,,,37.123224,-78.492772,US,North Carolina,28205,Charlotte,,35.227209,-80.843083,Warehouse,South,Distribution,4529,Center 6,BF-11425
4,US,Florida,,,,27.756767,-81.463983,US,Florida,33311,Fort Lauderdale,,26.122308,-80.143379,Warehouse,South,Distribution,15881,Center 1,SO-20785

Button(button_style='success', description='Open the map', icon='map', layout=Layout(height='40px', width='200…

#### Reverse Supply Chain Map Relations
Creating a map of relations based on the coordinates.

In [40]:
from pyloghub.supply_chain_map_relations import reverse_supply_chain_map_relations_sample_data, reverse_supply_chain_map_relations
from pyloghub.save_to_platform import create_the_button
from IPython.display import display

sample_data = reverse_supply_chain_map_relations_sample_data()
coordinates_df = sample_data['coordinates']
parameters = sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']
save_scenario['workspaceId'] = "YOUR WORKSPACE ID"
save_scenario['scenarioName'] = "YOUR SCENARIO NAME"

relations_df = reverse_supply_chain_map_relations(coordinates_df, parameters, api_key, save_scenario)
display(relations_df.head())
create_the_button(save_scenario['workspaceId'], api_key, save_scenario['scenarioName'])

,senderName,senderLatitude,senderLongitude,senderLocationLayer,recipientName,recipientLatitude,recipientLongitude,recipientLocationLayer,relationLayer,quantity
0,Center 8,38.223905,-85.045030,Warehouse,CG-12970,37.827384,-87.559035,South,Distribution,2145
1,Center 13,41.753940,-88.005545,Warehouse,JE-16615,42.905176,-88.016468,Central,Distribution,9439
2,Center 5,33.854662,-117.973103,Warehouse,DV-13495,34.066482,-118.352039,West,Distribution,5907
3,Center 6,36.831887,-78.335525,Warehouse,BF-11425,35.241809,-80.801737,South,Distribution,4529
4,Center 1,28.075587,-81.173554,Warehouse,SO-20785,26.153974,-80.169490,South,Distribution,15881

Button(button_style='success', description='Open the map', icon='map', layout=Layout(height='40px', width='200…

#### Forward Supply Chain Map Areas
Creating a map based on the given areas information.

In [41]:
from pyloghub.supply_chain_map_areas import forward_supply_chain_map_areas_sample_data, forward_supply_chain_map_areas
from pyloghub.save_to_platform import create_the_button
from IPython.display import display

sample_data = forward_supply_chain_map_areas_sample_data()
areas_df = sample_data['areas']
parameters = sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']
save_scenario['workspaceId'] = "YOUR WORKSPACE ID"
save_scenario['scenarioName'] = "YOUR SCENARIO NAME"

areas_output_df = forward_supply_chain_map_areas(areas_df, parameters, api_key, save_scenario)
display(areas_output_df.head())
create_the_button(save_scenario['workspaceId'], api_key, save_scenario['scenarioName'])

,searchId,country,region,name,layer,quantity,continent,countryRegionOne,countryRegionTwo,countryName,centerLat,centerLong,population,area_km2,length_km
0,D3 Cerklje na Gorenjskem,SI,Cerklje na Gorenjskem,Cerklje na Gorenjskem,D3 Commune|Municipality,8572.36,Europe,Southern Europe,,Slovenia,46.252904,14.493528,8572.36,77.27,38.92
1,D3 Gorenja Vas-Poljane,SI,Gorenja Vas-Poljane,Gorenja Vas-Poljane,D3 Commune|Municipality,7507.47,Europe,Southern Europe,,Slovenia,46.116649,14.130162,7507.47,152.04,59.83
2,D3 Jezersko,SI,Jezersko,Jezersko,D3 Commune|Municipality,609.72,Europe,Southern Europe,,Slovenia,46.387400,14.480943,609.72,70.58,41.94
3,D3 Železniki,SI,Železniki,Železniki,D3 Commune|Municipality,6239.23,Europe,Southern Europe,,Slovenia,46.219671,14.105773,6239.23,163.84,69.36
4,D3 Bovec,SI,Bovec,Bovec,D3 Commune|Municipality,3466.04,Europe,Southern Europe,,Slovenia,46.361327,13.622877,3466.04,382.47,100.65

Button(button_style='success', description='Open the map', icon='map', layout=Layout(height='40px', width='200…

#### Reverse Supply Chain Map Polyline
Visualizing polylines on a map based on the given coordinates.

In [43]:
from pyloghub.supply_chain_map_polyline import reverse_supply_chain_map_polyline_sample_data, reverse_supply_chain_map_polyline
from pyloghub.save_to_platform import create_the_button
from IPython.display import display

sample_data = reverse_supply_chain_map_polyline_sample_data()
polyline_df = sample_data['polyline']
save_scenario = sample_data['saveScenarioParameters']
save_scenario['workspaceId'] = "YOUR WORKSPACE ID"
save_scenario['scenarioName'] = "YOUR SCENARIO NAME"

polyline_output_df = reverse_supply_chain_map_polyline(polyline_df, api_key, save_scenario)
display(polyline_output_df.head())
create_the_button(save_scenario['workspaceId'], api_key, save_scenario['scenarioName'])

     polyline   latitude  longitude    layer
0  Polyline 1  50.068764   7.777298  Layer 1
1  Polyline 1  50.070352   7.777697  Layer 1
2  Polyline 1  50.071177   7.777859  Layer 1
3  Polyline 1  50.072018   7.777996  Layer 1
4  Polyline 1  50.072891   7.778157  Layer 1

Button(button_style='success', description='Open the map', icon='map', layout=Layout(height='40px', width='200…

#### Forward Supply Chain Map Routes
Creating a route map based on the addresses.

In [44]:
from pyloghub.supply_chain_map_routes import forward_supply_chain_map_routes_sample_data, forward_supply_chain_map_routes
from pyloghub.save_to_platform import create_the_button
from IPython.display import display

sample_data = forward_supply_chain_map_routes_sample_data()
addresses_df = sample_data['addresses']
parameters = sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']
save_scenario['workspaceId'] = "YOUR WORKSPACE ID"
save_scenario['scenarioName'] = "YOUR SCENARIO NAME"

routes_df = forward_supply_chain_map_routes(addresses_df, parameters, api_key, save_scenario)
display(routes_df.head())
create_the_button(save_scenario['workspaceId'], api_key, save_scenario['scenarioName'])

,routeId,name,latitude,longitude,pickupQuantity,deliveryQuantity
0,Route 1,Depot_Tilburg,51.556240,5.088601,16,0
1,Route 1,NL_5043_Tilburg,51.556240,5.088601,4,2
2,Route 1,NL_5035_Tilburg,51.556240,5.088601,4,2
3,Route 1,NL_5105_Dongen,51.642893,4.957877,0,4
4,Route 1,NL_5106_Dongen,51.642893,4.957877,0,6

Button(button_style='success', description='Open the map', icon='map', layout=Layout(height='40px', width='200…

#### Reverse Supply Chain Map Routes
Creating a route map based on the coordinates.

In [45]:
from pyloghub.supply_chain_map_routes import reverse_supply_chain_map_routes_sample_data, reverse_supply_chain_map_routes
from pyloghub.save_to_platform import create_the_button
from IPython.display import display

sample_data = reverse_supply_chain_map_routes_sample_data()
coordinates_df = sample_data['coordinates']
parameters = sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']
save_scenario['workspaceId'] = "YOUR WORKSPACE ID"
save_scenario['scenarioName'] = "YOUR SCENARIO NAME"

routes_df = reverse_supply_chain_map_routes(coordinates_df, parameters, api_key, save_scenario)
display(routes_df.head())
create_the_button(save_scenario['workspaceId'], api_key, save_scenario['scenarioName'])

,routeId,name,latitude,longitude,pickupQuantity,deliveryQuantity
0,Route 1,Depot_Tilburg,51.580240,5.114954,16,0
1,Route 1,NL_5043_Tilburg,51.579196,5.013101,4,2
2,Route 1,NL_5035_Tilburg,51.584700,4.981283,4,2
3,Route 1,NL_5105_Dongen,51.630898,4.953410,0,4
4,Route 1,NL_5106_Dongen,51.630898,4.953410,0,6

Button(button_style='success', description='Open the map', icon='map', layout=Layout(height='40px', width='200…

#### Forward Supply Chain Map Sea Routes
Creates a map of sea routes based on the given UN/LOCODEs.

In [46]:
from pyloghub.supply_chain_map_sea_routes import forward_supply_chain_map_sea_routes_sample_data, forward_supply_chain_map_sea_routes
from pyloghub.save_to_platform import create_the_button
from IPython.display import display

sample_data = forward_supply_chain_map_sea_routes_sample_data()
sea_routes_df = sample_data['addresses']
parameters = sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']
save_scenario['workspaceId'] = "YOUR WORKSPACE ID"
save_scenario['scenarioName'] = "YOUR SCENARIO NAME"

sea_routes_output_df = forward_supply_chain_map_sea_routes(sea_routes_df, parameters, api_key, save_scenario)
display(sea_routes_output_df.head())
create_the_button(save_scenario['workspaceId'], api_key, save_scenario['scenarioName'])

,fromName,fromUnLocode,toName,toUnLocode,quantity,distance,fromLatitude,fromLongitude,toLatitude,toLongitude,fromIso2Country,toIso2Country,distanceUnit
0,Shanghai,CNSHG,Rotterdam,NLRTM,1000,10526.35,30.626539,122.064958,51.916667,4.500000,CN,NL,nm
1,Singapore,SGSIN,Shenzhen,CNSZX,1000,1460.42,1.264000,103.840000,22.500000,113.883333,SG,CN,nm
2,Zhoushan,CNZOS,Hamburg,DEHAM,1000,14590.69,29.560000,121.500000,53.516667,9.933333,CN,DE,nm
3,Rotterdam,NLRTM,Guangzhou,CNGZG,1000,13204.37,51.916667,4.500000,23.085500,113.425000,NL,CN,nm
4,Dubai,AEDXB,Busan,KRPUS,1000,6077.56,25.250000,55.266667,35.133333,129.050000,AE,KR,nm

Button(button_style='success', description='Open the map', icon='map', layout=Layout(height='40px', width='200…

#### Reverse Supply Chain Map Sea Routes
Creating a sea routes map based on the given coordinates.

In [47]:
from pyloghub.supply_chain_map_sea_routes import reverse_supply_chain_map_sea_routes_sample_data, reverse_supply_chain_map_sea_routes
from pyloghub.save_to_platform import create_the_button
from IPython.display import display

sample_data = reverse_supply_chain_map_sea_routes_sample_data()
sea_routes_df = sample_data['coordinates']
parameters = sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']
save_scenario['workspaceId'] = "YOUR WORKSPACE ID"
save_scenario['scenarioName'] = "YOUR SCENARIO NAME"

sea_routes_output_df = reverse_supply_chain_map_sea_routes(sea_routes_df, parameters, api_key, save_scenario)
display(sea_routes_output_df.head())
create_the_button(save_scenario['workspaceId'], api_key, save_scenario['scenarioName'])

,fromName,fromLatitude,fromLongitude,toName,toLatitude,toLongitude,quantity,distance,fromIso2Country,toIso2Country,fromUnLocode,toUnLocode,distanceUnit
0,Shanghai,30.626539,122.064958,Rotterdam,51.916667,4.500000,1000,10526.35,CN,NL,CNSHG,NLRTM,nm
1,Singapore,1.264000,103.840000,Shenzhen,22.500000,113.883333,1000,1460.42,SG,CN,SGSIN,CNSZX,nm
2,Zhoushan,29.560000,121.500000,Hamburg,53.516667,9.933333,1000,14590.69,CN,DE,CNZOS,DEHAM,nm
3,Rotterdam,51.916667,4.500000,Guangzhou,23.085500,113.425000,1000,13204.37,NL,CN,NLRTM,CNGZG,nm
4,Dubai,25.250000,55.266667,Busan,35.133333,129.050000,1000,6077.56,AE,KR,AEDXB,KRPUS,nm

Button(button_style='success', description='Open the map', icon='map', layout=Layout(height='40px', width='200…

<p align="left">
  <img src="../examples\assets\center_of_gravity.png" alt="Header Image"  width="980"/>
</p>

#### Forward Center of Gravity
Determine optimal facility locations based on addresses.

In [ ]:
from IPython.display import display
from pyloghub.center_of_gravity import forward_center_of_gravity, forward_center_of_gravity_sample_data

sample_data = forward_center_of_gravity_sample_data()
addresses_df = sample_data['addresses']
parameters = sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']
assigned_addresses_df, centers_df = forward_center_of_gravity(addresses_df, parameters, api_key, save_scenario)

display(assigned_addresses_df.head())
display(centers_df.head())

,name,weight,centerLatitude,centerLongitude,centerName,distance,country,state,postalCode,city,street,latitude,longitude
0,Customer_0044,367,30.415921,75.588789,Center 5,160.38,IN,,143500,Batala,,31.819302,75.199997
1,Customer_1378,67,25.520204,87.969255,Center 1,164.35,IN,,736135,Dinhata,,26.123838,89.468102
2,Customer_0263,20,23.831567,71.610388,Center 3,287.02,IN,,345025,Phalsund,,26.397339,71.922417
3,Customer_0767,238,11.329570,77.731634,Center 2,119.38,IN,,635111,Karimangalam,,12.307006,78.185379
4,Customer_1027,664,17.060637,79.283285,Center 4,299.97,IN,,524001,Nellore,,14.449371,79.987373

   centerLatitude  centerLongitude centerName  weight
0       25.520204        87.969255   Center 1    4004
1       11.329570        77.731634   Center 2    9395
2       23.831567        71.610388   Center 3    3565
3       17.060637        79.283285   Center 4    7576
4       30.415921        75.588789   Center 5   10157

#### Reverse Center of Gravity
Determine optimal facility locations based on coordinates.

In [ ]:
from IPython.display import display
from pyloghub.center_of_gravity import reverse_center_of_gravity, reverse_center_of_gravity_sample_data

sample_data = reverse_center_of_gravity_sample_data()
coordinates_df = sample_data['coordinates']
parameters = sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']
assigned_geocodes_df, centers_df = reverse_center_of_gravity(coordinates_df, parameters, api_key, save_scenario)
display(assigned_geocodes_df.head())
display(centers_df.head())

,name,latitude,longitude,weight,centerLatitude,centerLongitude,centerName,distance
0,Customer_0044,31.818508,75.204906,367,30.527110,75.472489,Center 2,145.84
1,Customer_1378,26.126189,89.467499,67,25.627212,88.132321,Center 4,144.64
2,Customer_0263,26.402907,71.916797,20,23.825234,71.899610,Center 3,286.63
3,Customer_0767,12.299513,78.206302,238,11.337219,77.733798,Center 1,118.72
4,Customer_1027,14.446319,79.982021,664,17.052517,79.267603,Center 5,299.71

   centerLatitude  centerLongitude centerName  weight
0       11.337219        77.733798   Center 1    9395
1       30.527110        75.472489   Center 2    9914
2       23.825234        71.899610   Center 3    3808
3       25.627212        88.132321   Center 4    4004
4       17.052517        79.267603   Center 5    7576

<p align="left">
  <img src="../examples\assets\fixed_center_of_gravity.png" alt="Header Image"  width="980"/>
</p>

#### Forward Fixed Center of Gravity
Calculating the optimal locations for new warehouses based on the address location of customers, their respective weights and existing warehouses.

In [5]:
from IPython.display import display
from pyloghub.fixed_center_of_gravity import forward_fixed_center_of_gravity_sample_data, forward_fixed_center_of_gravity

sample_data = forward_fixed_center_of_gravity_sample_data()

customers_df = sample_data['customers']
fixed_centers_df = sample_data['fixedCenters']
parameters =sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']

assigned_geocodes_df, centers_df = forward_fixed_center_of_gravity(customers_df, fixed_centers_df, parameters, api_key, save_scenario)
display(assigned_geocodes_df.head())
display(centers_df.head())

,name,latitude,longitude,weight,centerLatitude,centerLongitude,centerName,distance
0,Customer_ES_1,37.234310,-3.823843,722.124,37.018365,-4.559665,Fixed_Center_ES_2,69.513928
1,Customer_ES_2,43.266472,-3.892813,2864.672,42.818199,-1.644009,Fixed_Center_ES_3,189.421872
2,Customer_ES_3,42.242729,0.197584,1032.668,41.577721,1.159376,Center 4,108.637035
3,Customer_ES_4,41.614761,0.626784,998.138,41.577721,1.159376,Center 4,44.479366
4,Customer_ES_5,42.284222,-8.608600,949.193,41.612202,-5.433072,Center 5,273.024526

,centerLatitude,centerLongitude,centerName,fixed,savingPotential,weight
0,40.914187,-1.298175,Fixed_Center_ES_1,yes,-5.90,96136.698
1,37.018365,-4.559665,Fixed_Center_ES_2,yes,-1.42,128526.541
2,42.818199,-1.644009,Fixed_Center_ES_3,yes,-9.71,116359.143
3,41.577721,1.159376,Center 4,no,0.00,59842.621
4,41.612202,-5.433072,Center 5,no,0.00,232405.247

#### Reverse Fixed Center of Gravity
Calculating the optimal location for new warehouses based on the geocode of customers, their respective weights and existing warehouses.

In [6]:
from IPython.display import display
from pyloghub.fixed_center_of_gravity import reverse_fixed_center_of_gravity_sample_data, reverse_fixed_center_of_gravity

sample_data = reverse_fixed_center_of_gravity_sample_data()

customers_df = sample_data['customers']
fixed_centers_df = sample_data['fixedCenters']
parameters =sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']

assigned_geocodes_df, centers_df = reverse_fixed_center_of_gravity(customers_df, fixed_centers_df, parameters, api_key, save_scenario)
display(assigned_geocodes_df.head())
display(centers_df.head())

,name,latitude,longitude,weight,centerLatitude,centerLongitude,centerName,distance
0,Customer_ES_1,38.464288,-0.498835,674.01,37.302008,-1.885545,Fixed_Center_ES_1,177.516944
1,Customer_ES_2,40.197869,-0.237320,648.31,41.039040,-0.866398,Fixed_Center_ES_2,107.553133
2,Customer_ES_3,38.625397,-0.576848,539.95,37.302008,-1.885545,Fixed_Center_ES_1,186.587991
3,Customer_ES_4,40.099452,-0.451670,667.55,41.039040,-0.866398,Fixed_Center_ES_2,110.193388
4,Customer_ES_5,39.894300,-0.579091,965.01,41.039040,-0.866398,Fixed_Center_ES_2,129.588651

,centerLatitude,centerLongitude,centerName,fixed,savingPotential,weight
0,37.302008,-1.885545,Fixed_Center_ES_1,yes,2.93,57270.86
1,41.039040,-0.866398,Fixed_Center_ES_2,yes,-2.62,129603.90
2,41.999530,-5.746650,Fixed_Center_ES_3,yes,1.94,122758.96
3,37.945379,-5.568481,Center 4,no,0.00,94999.90
4,39.997120,-3.631111,Center 5,no,0.00,86881.78

<p align="left">
  <img src="../examples\assets\center_of_gravity_plus.png" alt="Header Image"  width="980"/>
</p>

#### Forward Center of Gravity Plus
Calculating the optimal location for new warehouses given the address location of customers and their respective weights, volumes and revenues.

In [10]:
from IPython.display import display
from pyloghub.center_of_gravity_plus import forward_center_of_gravity_plus_sample_data, forward_center_of_gravity_plus

sample_data = forward_center_of_gravity_plus_sample_data()

addresses_df = sample_data['addresses']
parameters =sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']

assigned_addresses_df, centers_df = forward_center_of_gravity_plus(addresses_df, parameters, api_key, save_scenario)
display(assigned_addresses_df.head())
display(centers_df.head())

,name,weight,volume,revenue,centerLatitude,centerLongitude,centerName,distance,country,state,postalCode,city,street,latitude,longitude
0,Paris,1120311,3201,2400750,48.85889,2.320041,Center 2,0.00,FR,,,Paris,,48.858891,2.320041
1,Marseille,426258,1218,913500,43.81293,4.939257,Center 1,67.13,FR,,,Marseille,,43.296173,5.369953
2,Lyon,248172,709,531750,43.81293,4.939257,Center 1,216.43,FR,,,Lyon,,45.757812,4.832011
3,Toulouse,226659,648,486000,43.81293,4.939257,Center 1,281.86,FR,,,Toulouse,,43.604462,1.444247
4,Nice,171810,491,368250,43.81293,4.939257,Center 1,187.47,FR,,,Nice,,43.700935,7.268391

   centerLatitude  centerLongitude centerName   weight  volume  revenue
0        43.81293         4.939257   Center 1  1953564    5583  4187250
1        48.85889         2.320041   Center 2  3141966    8976  6732000
2        47.13300        -1.024814   Center 3   910299    2602  1951500

#### Reverse Center of Gravity Plus
Calculating the optimal location for new warehouses based on the coordinates of customers and their respective weights, volumes and revenues.

In [11]:
from IPython.display import display
from pyloghub.center_of_gravity_plus import reverse_center_of_gravity_plus_sample_data, reverse_center_of_gravity_plus

sample_data = reverse_center_of_gravity_plus_sample_data()

coordinates_df = sample_data['coordinates']
parameters =sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']

assigned_geocodes_df, centers_df = reverse_center_of_gravity_plus(coordinates_df, parameters, api_key, save_scenario)
display(assigned_geocodes_df.head())
display(centers_df.head())

,name,latitude,longitude,weight,volume,revenue,centerLatitude,centerLongitude,centerName,distance
0,Paris,48.856614,2.352222,1120311,3201,2400750,48.856614,2.352222,Center 2,0.00
1,Marseille,43.296482,5.369780,426258,1218,913500,43.813581,4.939038,Center 1,67.16
2,Lyon,45.764043,4.835659,248172,709,531750,43.813581,4.939038,Center 1,217.03
3,Toulouse,43.604652,1.444209,226659,648,486000,43.813581,4.939038,Center 1,281.85
4,Nice,43.710173,7.261953,171810,491,368250,43.813581,4.939038,Center 1,186.89

   centerLatitude  centerLongitude centerName   weight  volume  revenue
0       43.813581         4.939038   Center 1  1953564    5583  4187250
1       48.856614         2.352222   Center 2  3141966    8976  6732000
2       47.134929        -1.028559   Center 3   910299    2602  1951500

<p align="left">
  <img src="../examples\assets\nearest_warehouses.png" alt="Header Image"  width="980"/>
</p>

#### Forward Nearest Warehouses
Calculating a given number of the nearest warehouses from a customer address.

In [12]:
from IPython.display import display
from pyloghub.nearest_warehouses import forward_nearest_warehouses_sample_data, forward_nearest_warehouses

sample_data = forward_nearest_warehouses_sample_data()
warehouses_df = sample_data['warehouses']
customers_df = sample_data['customers']
parameters = sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']

nearest_warehouses_df, unassigned_df = forward_nearest_warehouses(warehouses_df, customers_df, parameters, api_key, save_scenario)
display(nearest_warehouses_df.head())
display(unassigned_df.head())

,warehouseName,warehouseCountry,warehouseState,warehousePostalCode,warehouseCity,warehouseStreet,warehouseParsedLatitude,warehouseParsedLongitude,warehouseStatus,customerName,customerCountry,customerState,customerPostalCode,customerCity,customerStreet,customerParsedLatitude,customerParsedLongitude,beeline,dist
0,Jersey City,US,,,Jersey City,,40.721568,-74.047455,ok,New York,US,,,New York,,40.712728,-74.006015,3.63,6.63
1,Newark,US,,,Newark,,40.735657,-74.172367,ok,New York,US,,,New York,,40.712728,-74.006015,14.25,17.53
2,Buffalo,US,,,Buffalo,,42.886717,-78.878392,ok,New York,US,,,New York,,40.712728,-74.006015,470.59,599.43
3,Aurora,US,,,Aurora,,41.757170,-88.314754,ok,Chicago,US,,,Chicago,,41.875562,-87.624421,58.70,64.84
4,Madison,US,,,Madison,,43.074761,-89.383761,ok,Chicago,US,,,Chicago,,41.875562,-87.624421,196.46,237.40

Empty DataFrame
Columns: []
Index: []

#### Reverse Nearest Warehouses
Calculating a given number of the nearest warehouses from a customer coordinates.

In [13]:
from IPython.display import display
from pyloghub.nearest_warehouses import reverse_nearest_warehouses_sample_data, reverse_nearest_warehouses

sample_data = reverse_nearest_warehouses_sample_data()
warehouses_df = sample_data['warehouses']
customers_df = sample_data['customers']
parameters = sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']

nearest_warehouses_df, unassigned_df = reverse_nearest_warehouses(warehouses_df, customers_df, parameters, api_key, save_scenario)
display(nearest_warehouses_df.head())
display(unassigned_df.head())

,warehouseName,warehouseLatitude,warehouseLongitude,customerName,customerLatitude,customerLongitude,beeline,dist
0,Stockton,40.407883,-74.978224,New York,43.156168,-75.844995,313.93,398.37
1,Newark,40.735657,-74.172367,New York,43.156168,-75.844995,302.60,413.33
2,Jersey City,40.728158,-74.077642,New York,43.156168,-75.844995,307.00,421.95
3,Fort Wayne,41.079990,-85.138601,Chicago,41.875555,-87.624421,225.18,258.14
4,Saint Paul,39.428105,-85.628309,Chicago,41.875555,-87.624421,320.01,352.41

Empty DataFrame
Columns: []
Index: []

<p align="left">
  <img src="../examples\assets\network_design_plus.png" alt="Header Image"  width="980"/>
</p>

#### Forward Network Design Plus
Finds the optimal number and locations of warehouses based on transport, handling and fixed warehouse costs.

In [16]:
from IPython.display import display
from pyloghub.network_design_plus import forward_network_design_plus_sample_data, forward_network_design_plus

sample_data = forward_network_design_plus_sample_data()
factories_df = sample_data['factories']
warehouses_df = sample_data['warehouses']
customers_df = sample_data['customers']
product_segments_df = sample_data['productSegments']
transport_costs_df = sample_data['transportCosts']
transport_costs_rules_df = sample_data['transportCostsRules']
stepwise_function_weight_df = sample_data['stepwiseCostFunctionWeight']
stepwise_function_volume_df = sample_data['stepwiseCostFunctionVolume']
distance_limits_df = sample_data['distanceLimits']
parameters = sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']

open_warehouses, factory_assignement, customer_assignement, solution_kpis = forward_network_design_plus(factories_df, warehouses_df, customers_df, product_segments_df, transport_costs_df, transport_costs_rules_df, stepwise_function_weight_df, stepwise_function_volume_df, distance_limits_df, parameters, api_key, save_scenario)
display(open_warehouses.head())
display(factory_assignement.head())
display(customer_assignement.head())
display(solution_kpis.head())

c:\git\log-hub-python\pyloghub\input_data_validation.py:88: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '24647' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[ind, column] = str(df[column][ind])
INFO:root:Calculation is still running with the progress 15%.

,name,country,state,postalCode,city,street,parsedLatitude,parsedLongitude,assignedWeight,assignedVolume,assignedNumberOfShipments,warehouseFixedCosts,warehouseVariableCosts,stepwiseFixedCosts,stepwiseVariableCosts,minWeight,maxWeight,minVolume,maxVolume
0,Whs_Darmstadt,DE,,,Darmstadt,,49.872775,8.651177,4545455.34,15859.61,1563,280000,246304,0,0,0,8326000,0,29500
1,Whs_Fulda,DE,,,Fulda,,50.554233,9.677045,4293018.98,16002.84,1412,730000,233854,0,0,0,27599000,0,97600

,factoryName,factoryCountry,factoryState,factoryPostalCode,factoryCity,factoryStreet,factoryParsedLatitude,factoryParsedLongitude,warehouseName,warehouseCountry,...,warehousePostalCode,warehouseCity,warehouseStreet,warehouseParsedLatitude,warehouseParsedLongitude,weight,volume,numberOfShipments,distance,inboundTransportCosts
0,Barcelona,ES,,,Barcelona,,41.382894,2.177432,Whs_Darmstadt,DE,...,,Darmstadt,,49.872775,8.651177,418343.04,1357.39,164,1389.57,27902.56
1,Barcelona,ES,,,Barcelona,,41.382894,2.177432,Whs_Fulda,DE,...,,Fulda,,50.554233,9.677045,125885.76,482.78,33,1523.10,10696.65
2,ImportGate_HamburgHarbour,DE,,20097,Hamburg,,53.546774,10.023524,Whs_Darmstadt,DE,...,,Darmstadt,,49.872775,8.651177,713124.33,2451.55,214,545.10,18000.00
3,ImportGate_HamburgHarbour,DE,,20097,Hamburg,,53.546774,10.023524,Whs_Fulda,DE,...,,Fulda,,50.554233,9.677045,2672879.01,9795.59,710,433.68,77200.00
4,Lyon,FR,,,Lyon,,45.757814,4.832011,Whs_Darmstadt,DE,...,,Darmstadt,,49.872775,8.651177,631423.81,2049.55,137,700.69,24798.04

,name,country,state,postalCode,city,street,parsedLatitude,parsedLongitude,weight,volume,numberOfShipments,warehouseName,distance,factoryName,outboundTransportCosts
0,Customer_0001,DE,,24647,Wasbek,,54.073959,9.898631,6055.52,18.31,54,Whs_Fulda,509.16,ImportGate_HamburgHarbour,17077.35
1,Customer_0002,DE,,22962,Siek,,53.634963,10.297829,5036.28,17.52,45,Whs_Darmstadt,563.40,ImportGate_HamburgHarbour,14761.93
2,Customer_0003,DE,,22145,Stapelfeld,,53.606944,10.218915,1183.32,7.05,13,Whs_Fulda,443.89,Ulm,1413.74
3,Customer_0004,DE,,21035,Hamburg,,53.485383,10.199816,370.76,2.87,23,Whs_Fulda,426.25,Poznan,984.07
4,Customer_0005,DE,,24113,Kiel,,54.291249,10.094350,3512.31,14.48,28,Whs_Darmstadt,651.41,Poznan,8482.27

                            kpiName          kpiValue
0             Value Target Function           2110197
1               Optimization Status  optimal solution
2                       Total Costs           2110197
3                   Transport Costs            620039
4  Factory Outbound Transport Costs            316002

#### Reverse Network Design Plus
Finding the optimal number and locations of warehouses based on transport, handling and fixed warehouse costs.

In [17]:
from IPython.display import display
from pyloghub.network_design_plus import reverse_network_design_plus_sample_data, reverse_network_design_plus

sample_data = reverse_network_design_plus_sample_data()
factories_df = sample_data['factories']
warehouses_df = sample_data['warehouses']
customers_df = sample_data['customers']
product_segments_df = sample_data['productSegments']
transport_costs_df = sample_data['transportCosts']
transport_costs_rules_df = sample_data['transportCostsRules']
stepwise_function_weight_df = sample_data['stepwiseCostFunctionWeight']
stepwise_function_volume_df = sample_data['stepwiseCostFunctionVolume']
distance_limits_df = sample_data['distanceLimits']
parameters = sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']

open_warehouses, factory_assignement, customer_assignement, solution_kpis = reverse_network_design_plus(factories_df, warehouses_df, customers_df, product_segments_df, transport_costs_df, transport_costs_rules_df, stepwise_function_weight_df, stepwise_function_volume_df, distance_limits_df, parameters, api_key, save_scenario)
display(open_warehouses.head())
display(factory_assignement.head())
display(customer_assignement.head())
display(solution_kpis.head())

INFO:root:Calculation is still running with the progress 1%.

,name,latitude,longitude,minWeight,maxWeight,minVolume,maxVolume,assignedWeight,assignedVolume,assignedNumberOfShipments,warehouseFixedCosts,warehouseVariableCosts,stepwiseFixedCosts,stepwiseVariableCosts
0,Whs_Darmstadt,49.872825,8.651193,0,8326000,0,29500,4289385.10,15122.93,1529,280000,232617,0,0
1,Whs_Fulda,50.555810,9.680845,0,27599000,0,97600,4549089.22,16739.52,1446,730000,247542,0,0

,factoryName,factoryLatitude,factoryLongitude,warehouseName,warehouseLatitude,warehouseLongitude,weight,volume,numberOfShipments,distance,inboundTransportCosts
0,Barcelona,41.385064,2.173404,Whs_Darmstadt,49.872825,8.651193,425787.20,1409.07,172,1389.49,29035.89
1,Barcelona,41.385064,2.173404,Whs_Fulda,50.555810,9.680845,118441.60,431.10,25,1523.40,9454.44
2,ImportGate_HamburgHarbour,53.548038,10.017699,Whs_Darmstadt,49.872825,8.651193,486491.73,1663.15,169,545.15,12500.00
3,ImportGate_HamburgHarbour,53.548038,10.017699,Whs_Darmstadt,49.872825,8.651193,226632.60,788.40,45,545.15,5500.00
4,ImportGate_HamburgHarbour,53.548038,10.017699,Whs_Fulda,50.555810,9.680845,2088048.08,7803.30,596,433.57,64800.00

,name,latitude,longitude,weight,volume,numberOfShipments,warehouseName,distance,factoryName,outboundTransportCosts
0,Customer_0001,54.072431,9.895834,6055.52,18.31,54,Whs_Fulda,508.69,ImportGate_HamburgHarbour,17064.58
1,Customer_0002,53.634444,10.298056,5036.28,17.52,45,Whs_Darmstadt,563.33,ImportGate_HamburgHarbour,14760.49
2,Customer_0003,53.605029,10.217829,1183.32,7.05,13,Whs_Fulda,443.35,Ulm,1412.30
3,Customer_0004,53.487313,10.153583,370.76,2.87,23,Whs_Fulda,425.84,Poznan,983.27
4,Customer_0005,54.281305,10.080690,3512.31,14.48,28,Whs_Darmstadt,649.76,Poznan,8466.30

                            kpiName          kpiValue
0             Value Target Function           2116448
1               Optimization Status  optimal solution
2                       Total Costs           2116448
3                   Transport Costs            626290
4  Factory Outbound Transport Costs            317033

<p align="left">
  <img src="../examples\assets\location_planning.png" alt="Header Image"  width="980"/>
</p>

#### Forward Location Planning
Optimizing flows from the warehouses to the customers.

In [18]:
from IPython.display import display
from pyloghub.location_planning import forward_location_planning_sample_data, forward_location_planning

sample_data = forward_location_planning_sample_data()
warehouses_df = sample_data['warehouses']
customers_df = sample_data['customers']
cost_adjustments_df = sample_data['costsAdjustments']
parameters = sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']

open_warehouses, customer_assignement, solution_kpis = forward_location_planning(customers_df, warehouses_df, cost_adjustments_df, parameters, api_key, save_scenario)
display(open_warehouses.head())
display(customer_assignement.head())
display(solution_kpis.head())

INFO:root:Calculation is still running with the progress 1%.

,name,country,state,postalCode,city,street,assignedWeight,assignedVolume,assignedNumberOfShipments,warehouseFixedCosts,warehouseVariableCosts,minWeight,maxWeight,minVolume,maxVolume,latitude,longitude
0,Moscow,RU,,,Moscow,,43515343,144090.01,3478,833138,87319,0,44434000,0,148113.33,55.750541,37.617478
1,Istanbul,TR,,,Istanbul,,14000144,47347.24,1370,891450,28095,0,47544000,0,158480.00,41.006381,28.975872
2,London,GB,,,London,,26600711,85779.10,2362,835500,53373,0,44560000,0,148533.33,51.507446,-0.127765
3,Madrid,ES,,,Madrid,,8608197,28392.71,883,852750,17273,0,45480000,0,151600.00,40.416705,-3.703582
4,Wien,AT,,,Wien,,37484704,124901.73,3060,753255,75219,0,40173600,0,133912.00,48.208354,16.372504

,name,country,state,postalCode,city,street,weight,volume,numberOfShipments,warehouseName,customerTransportCosts,distance,transportRule,parsedCountry,latitude,longitude
0,Moscow,RU,,,Moscow,,13175,44.21,1205,Moscow,96352,0.00,,RU,55.750541,37.617478
1,Istanbul,TR,,,Istanbul,,9695,33.20,930,Istanbul,64105,0.00,,TR,41.006381,28.975872
2,London,GB,,,London,,12930,39.78,854,London,110371,0.00,Customer Country ISO2: * Warehouse Country ISO...,GB,51.507446,-0.127765
3,Sankt Petersburg,RU,,,Sankt Petersburg,,14729,49.43,519,Moscow,871468,824.95,,RU,59.938732,30.316229
4,Berlin,DE,,,Berlin,,12315,40.11,351,Wien,500705,679.57,,DE,52.510885,13.398937

                        kpiName  kpiValue
0         Value Target Function      1761
1               Transport Costs  12450791
2      Variable Warehouse Costs    293429
3         Fixed Warehouse Costs   4929247
4  Optimal Number of Warehouses         6

#### Reverse Location Planning
Optimizing flows from the warehouses to the customers.

In [19]:
from IPython.display import display
from pyloghub.location_planning import reverse_location_planning_sample_data, reverse_location_planning

sample_data = reverse_location_planning_sample_data()
warehouses_df = sample_data['warehouses']
customers_df = sample_data['customers']
cost_adjustments_df = sample_data['costsAdjustments']
parameters = sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']

open_warehouses, customer_assignement, solution_kpis = reverse_location_planning(customers_df, warehouses_df, cost_adjustments_df, parameters, api_key, save_scenario)
display(open_warehouses.head())
display(customer_assignement.head())
display(solution_kpis.head())

INFO:root:Calculation is still running with the progress 1%.

,name,latitude,longitude,minWeight,maxWeight,minVolume,maxVolume,assignedWeight,assignedVolume,assignedNumberOfShipments,warehouseFixedCosts,warehouseVariableCosts
0,Moscow,55.479205,37.327330,0,44434000,0,148113.33,43791303,144265.12,3633,833138,87871
1,Istanbul,41.076602,29.052495,0,47544000,0,158480.00,19011337,63611.75,1822,891450,38150
2,London,51.507322,-0.127647,0,44560000,0,148533.33,28031461,90213.70,2475,835500,56243
3,Sankt Petersburg,59.960674,30.158655,0,45826000,0,152753.33,11498602,38569.07,856,859238,23074
4,Madrid,39.262086,-2.596882,0,45480000,0,151600.00,8608197,28392.71,883,852750,17273

,name,latitude,longitude,weight,volume,numberOfShipments,warehouseName,customerTransportCosts,distance,transportRule,parsedCountry
0,Moscow,55.479205,37.327330,13175,44.21,1205,Moscow,96352,0.00,,RU
1,Istanbul,41.076602,29.052495,9695,33.20,930,Istanbul,64105,0.00,,TR
2,London,51.507322,-0.127647,12930,39.78,854,London,67671,0.00,,GB
3,Sankt Petersburg,59.960674,30.158655,14729,49.43,519,Sankt Petersburg,43824,0.00,,RU
4,Berlin,52.519854,13.438596,12315,40.11,351,Wien,500705,677.65,,DE

                        kpiName  kpiValue
0         Value Target Function      1745
1               Transport Costs  12197573
2      Variable Warehouse Costs    293429
3         Fixed Warehouse Costs   5025330
4  Optimal Number of Warehouses         6

<p align="left">
  <img src="../examples\assets\milkrun_optimization.png" alt="Header Image"  width="980"/>
</p>

#### Forward Milkrun Optimization Plus
Calculating optimal routes for multiple days shipments by taking into consideration constraints such as customer time windows, detailed vehicle, and capacity profiles.

In [20]:
from IPython.display import display
from pyloghub.milkrun_optimization_plus import forward_milkrun_optimization_plus_sample_data, forward_milkrun_optimization_plus

sample_data = forward_milkrun_optimization_plus_sample_data()
depots_df = sample_data['depots']
vehicles_df = sample_data['vehicles']
jobs_df = sample_data['jobs']
time_window_profiles_df = sample_data['timeWindowProfiles']
breaks_df = sample_data['breaks']
parameters = sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']

route_overview_df, route_details_df, external_orders_df = forward_milkrun_optimization_plus(depots_df, vehicles_df, jobs_df, time_window_profiles_df, breaks_df, parameters, api_key, save_scenario)
display(route_overview_df.head())
display(route_details_df.head())
display(external_orders_df.head())

,vehicleType,deliveryWeight,deliveryVolume,deliveryPallets,pickupWeight,pickupVolume,pickupPallets,drivingTime,waitingTime,startTime,...,numberOfStops,maxHeight,minHeight,metersUp,metersDown,utilizationWeight,utilizationVolume,utilizationPallets,overallUtilization,stopDuration
0,Standard,11391,37,45,11391,37,45,142.82,59.17,2021-12-16T20:39:30.000Z,...,7,627.0,402.3,1503.6,1501.8,22.25,100.00,35.00,100.00,217.5
1,Standard,9519,31,38,9519,31,38,60.43,51.97,2021-12-16T20:41:00.000Z,...,7,541.0,412.5,670.6,668.8,20.37,94.12,33.33,94.12,205.0
2,Standard,6394,20,26,6394,20,26,131.72,37.83,2021-12-17T21:22:48.000Z,...,6,535.1,395.6,1299.3,1297.1,17.83,76.47,28.33,76.47,193.0
3,Standard,5082,16,20,5082,16,20,69.05,36.73,2021-12-17T22:26:12.000Z,...,3,535.1,395.6,724.3,722.1,21.18,94.12,33.33,94.12,108.0
4,Standard,4998,17,21,4998,17,21,67.43,36.77,2021-12-17T22:39:17.000Z,...,3,535.1,395.6,663.8,661.6,20.82,100.00,35.00,100.00,96.5

,stopName,drivingTime,waitingTime,stopLatitude,stopLongitude,distance,arrivalTimeAtLocation,departureTimeFromLocation,routeId,sequence,deliveryWeight,deliveryVolume,deliveryPallets,pickupWeight,pickupVolume,pickupPallets,vehicleUtilization,stopDuration
0,Depot_Zurich,0.00,0.00,47.371887,8.423887,0.00,2021-12-16T20:39:30.000Z,2021-12-16T21:00:00.000Z,1,1,0,0,0,5340,17,21,100.00,20.5
1,break,0.00,0.00,,,0.00,2021-12-16T21:00:00.000Z,2021-12-16T21:30:00.000Z,1,2,0,0,0,0,0,0,0.00,30.0
2,Store_15_TW01,15.98,14.02,47.368979,8.540731,16.16,2021-12-16T21:45:59.000Z,2021-12-16T22:17:00.000Z,1,3,2304,7,9,0,0,0,41.18,17.0
3,break,0.00,0.00,,,0.00,2021-12-16T22:17:00.000Z,2021-12-16T22:47:00.000Z,1,4,0,0,0,0,0,0,0.00,30.0
4,Store_10_TW01,26.92,0.00,47.242118,8.722541,22.42,2021-12-16T23:13:55.000Z,2021-12-16T23:31:55.000Z,1,5,3036,10,12,0,0,0,58.82,18.0

Empty DataFrame
Columns: []
Index: []

#### Reverse Milkrun Optimization Plus
Calculating optimal routes for multiple days shipments by taking into consideration constraints such as customer time windows, detailed vehicle, and capacity profiles.

In [21]:
from IPython.display import display
from pyloghub.milkrun_optimization_plus import reverse_milkrun_optimization_plus_sample_data, reverse_milkrun_optimization_plus

sample_data = reverse_milkrun_optimization_plus_sample_data()
depots_df = sample_data['depots']
vehicles_df = sample_data['vehicles']
jobs_df = sample_data['jobs']
time_window_profiles_df = sample_data['timeWindowProfiles']
breaks_df = sample_data['breaks']
parameters = sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']

route_overview_df, route_details_df, external_orders_df = reverse_milkrun_optimization_plus(depots_df, vehicles_df, jobs_df, time_window_profiles_df, breaks_df, parameters, api_key, save_scenario)
display(route_overview_df.head())
display(route_details_df.head())
display(external_orders_df.head())

,vehicleType,deliveryWeight,deliveryVolume,deliveryPallets,pickupWeight,pickupVolume,pickupPallets,drivingTime,waitingTime,startTime,...,numberOfStops,maxHeight,minHeight,metersUp,metersDown,utilizationWeight,utilizationVolume,utilizationPallets,overallUtilization,stopDuration
0,Standard,9791,32,39,9791,32,39,64.15,61.10,2021-12-16T20:39:30.000Z,...,7,541.0,406.4,659.1,661.3,22.47,100.00,35.00,100.00,207.5
1,Standard,11119,36,44,11119,36,44,86.17,57.75,2021-12-16T20:40:30.000Z,...,7,592.9,406.3,1016.1,1018.3,19.91,94.12,31.67,94.12,215.0
2,Standard,4691,15,19,4691,15,19,76.08,28.32,2021-12-17T22:19:05.000Z,...,4,535.1,395.6,677.0,679.2,19.55,88.24,31.67,88.24,116.5
3,Standard,5186,17,21,5186,17,21,75.80,34.38,2021-12-17T22:40:18.000Z,...,3,535.1,395.6,709.1,711.3,21.61,100.00,35.00,100.00,89.5
4,Standard,5160,17,21,5160,17,21,69.55,26.25,2021-12-17T22:23:41.000Z,...,3,535.1,395.6,695.9,698.1,21.50,100.00,35.00,100.00,120.5

,stopName,drivingTime,waitingTime,stopLatitude,stopLongitude,distance,arrivalTimeAtLocation,departureTimeFromLocation,routeId,sequence,deliveryWeight,deliveryVolume,deliveryPallets,pickupWeight,pickupVolume,pickupPallets,vehicleUtilization,stopDuration
0,Depot_Zurich,0.00,0.00,47.371149,8.424263,0.00,2021-12-16T20:39:30.000Z,2021-12-16T21:00:00.000Z,1,1,0,0,0,5393,17,21,100.00,20.5
1,break,0.00,0.00,,,0.00,2021-12-16T21:00:00.000Z,2021-12-16T21:30:00.000Z,1,2,0,0,0,0,0,0,0.00,30.0
2,Store_9_TW01,14.77,15.23,47.375383,8.53608,15.58,2021-12-16T21:44:46.000Z,2021-12-16T22:19:00.000Z,1,3,1764,6,7,0,0,0,35.29,19.0
3,Store_15_TW01,3.42,0.00,47.368812,8.540987,1.53,2021-12-16T22:22:25.000Z,2021-12-16T22:39:25.000Z,1,4,2304,7,9,0,0,0,41.18,17.0
4,break,0.00,0.00,,,0.00,2021-12-16T22:39:25.000Z,2021-12-16T23:09:25.000Z,1,5,0,0,0,0,0,0,0.00,30.0

Empty DataFrame
Columns: []
Index: []

<p align="left">
  <img src="../examples\assets\transport_optimization.png" alt="Header Image"  width="980"/>
</p>

#### Forward Transport Optimization Plus
Calculating optimal routes for multiple days shipments by taking into consideration constraints such as customer time windows, detailed vehicle, and capacity profiles.

In [22]:
from IPython.display import display
from pyloghub.transport_optimization_plus import forward_transport_optimization_plus, forward_transport_optimization_plus_sample_data

sample_data = forward_transport_optimization_plus_sample_data()
vehicles_df = sample_data['vehicles']
shipments_df = sample_data['shipments']
timeWindowProfiles_df = sample_data['timeWindowProfiles']
breaks_df = sample_data['breaks']
parameters = sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']

route_overview_df, route_details_df, external_orders_df = forward_transport_optimization_plus(vehicles_df, shipments_df, timeWindowProfiles_df, breaks_df, parameters, api_key, save_scenario)

display(route_overview_df.head())
display(route_details_df.head())
display(external_orders_df.head())

,vehicleType,deliveryWeight,deliveryVolume,deliveryPallets,pickupWeight,pickupVolume,pickupPallets,drivingTime,waitingTime,startTime,...,maxHeight,minHeight,metersUp,metersDown,utilizationWeight,utilizationVolume,utilizationPallets,overallUtilization,stopDuration,costs
0,Standard,796,2,17,796,2,17,313.57,0.00,2021-12-16T20:50:31.000Z,...,673.2,264.1,3333.2,3331.0,1.92,5.88,16.67,16.67,110,724
1,Standard,492,1,12,492,1,12,579.75,0.60,2021-12-16T20:23:00.000Z,...,642.6,365.6,5926.2,5924.4,2.05,5.88,20.00,20.00,85,1210
2,Standard,1263,3,31,1263,3,31,460.90,18.27,2021-12-16T21:00:00.000Z,...,638.9,359.0,4255.6,4253.4,2.25,5.88,20.00,20.00,135,971
3,Truck_12t,1164,3,29,1164,3,29,565.17,0.00,2021-12-16T20:09:44.000Z,...,892.7,365.6,5775.0,5772.8,4.70,5.88,40.00,40.00,135,1146
4,Truck_12t,569,2,16,569,2,16,571.87,0.00,2021-12-16T20:20:01.000Z,...,6313.3,195.4,17359.8,17358.0,2.70,5.88,30.00,30.00,110,1168

,drivingTime,waitingTime,arrivalTimeAtLocation,stopLatitude,stopLongitude,departureTimeFromLocation,distance,stopName,routeId,sequence,deliveryWeight,deliveryVolume,deliveryPallets,pickupWeight,pickupVolume,pickupPallets,vehicleUtilization,stopDuration
0,0.00,0.0,2021-12-16T20:50:31.000Z,47.371887,8.423887,2021-12-16T20:50:31.000Z,0.00,Depot_Zurich,1,1,0,0,0,0,0,0,0.00,0
1,0.00,0.0,2021-12-16T20:50:31.000Z,,,2021-12-16T21:20:31.000Z,0.00,break,1,2,0,0,0,0,0,0,0.00,30
2,39.48,0.0,2021-12-16T22:00:00.000Z,47.392715,8.044445,2021-12-16T22:10:00.000Z,41.20,Aarau,1,3,0,0,0,336,1,7,11.67,10
3,22.55,0.0,2021-12-16T22:32:33.000Z,47.320642,7.89936,2021-12-16T22:42:33.000Z,21.34,Aarburg,1,4,0,0,0,460,1,10,16.67,10
4,0.00,0.0,2021-12-16T22:42:33.000Z,,,2021-12-16T23:12:33.000Z,0.00,break,1,5,0,0,0,0,0,0,0.00,30

Empty DataFrame
Columns: []
Index: []

#### Reverse Transport Optimization Plus
Calculating optimal routes for multiple days shipments by taking into consideration constraints such as customer time windows, detailed vehicle, and capacity profiles.

In [23]:
from IPython.display import display
from pyloghub.transport_optimization_plus import reverse_transport_optimization_plus, reverse_transport_optimization_plus_sample_data

sample_data = reverse_transport_optimization_plus_sample_data()
vehicles_df = sample_data['vehicles']
shipments_df = sample_data['shipments']
timeWindowProfiles_df = sample_data['timeWindowProfiles']
breaks_df = sample_data['breaks']
parameters = sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']

route_overview_df, route_details_df, external_orders_df = reverse_transport_optimization_plus(vehicles_df, shipments_df, timeWindowProfiles_df, breaks_df, parameters, api_key, save_scenario)

display(route_overview_df.head())
display(route_details_df.head())
display(external_orders_df.head())

,vehicleType,deliveryWeight,deliveryVolume,deliveryPallets,pickupWeight,pickupVolume,pickupPallets,drivingTime,waitingTime,startTime,...,maxHeight,minHeight,metersUp,metersDown,utilizationWeight,utilizationVolume,utilizationPallets,overallUtilization,stopDuration,costs
0,Standard,1120,3,26,1120,3,26,412.82,50.85,2021-12-16T21:00:00.000Z,...,906.0,264.1,4766.9,4769.1,1.92,5.88,16.67,16.67,135,856
1,Standard,1201,3,27,1201,3,27,464.25,17.92,2021-12-16T21:00:00.000Z,...,865.8,359.0,4834.7,4836.9,2.25,5.88,20.00,20.00,135,978
2,Truck_12t,1164,3,29,1164,3,29,565.87,0.00,2021-12-16T20:09:23.000Z,...,892.7,365.6,5773.4,5775.6,4.70,5.88,40.00,40.00,135,1146
3,Truck_12t,335,2,10,335,2,10,519.70,0.00,2021-12-16T20:25:21.000Z,...,6313.3,195.4,16526.2,16528.4,2.04,5.88,23.33,23.33,110,1085
4,Truck_12t,973,3,24,973,3,24,575.58,0.00,2021-12-16T19:59:59.000Z,...,865.8,365.6,5786.5,5788.7,3.75,5.88,36.67,36.67,135,1171

,drivingTime,waitingTime,arrivalTimeAtLocation,stopLatitude,stopLongitude,departureTimeFromLocation,distance,stopName,routeId,sequence,deliveryWeight,deliveryVolume,deliveryPallets,pickupWeight,pickupVolume,pickupPallets,vehicleUtilization,stopDuration
0,0.00,0.0,2021-12-16T21:00:00.000Z,47.371134,8.424274,2021-12-16T21:00:00.000Z,0.00,Depot_Zurich,1,1,0,0,0,0,0,0,0.00,0
1,0.00,0.0,2021-12-16T21:00:00.000Z,,,2021-12-16T21:30:00.000Z,0.00,break,1,2,0,0,0,0,0,0,0.00,30
2,39.85,0.0,2021-12-16T22:09:51.000Z,47.392715,8.044445,2021-12-16T22:19:51.000Z,41.29,Aarau,1,3,0,0,0,336,1,7,11.67,10
3,0.00,0.0,2021-12-16T22:19:51.000Z,,,2021-12-16T22:49:51.000Z,0.00,break,1,4,0,0,0,0,0,0,0.00,30
4,54.95,0.0,2021-12-16T23:44:48.000Z,47.53656,7.570077,2021-12-16T23:59:48.000Z,55.36,Binningen,1,5,336,1,7,0,0,0,11.67,15

Empty DataFrame
Columns: []
Index: []

<p align="left">
  <img src="../examples\assets\shipment_analyzer.png" alt="Header Image"  width="980"/>
</p>

#### Forward Shipment Analyzer
Analyzing and optimizing shipment costs and operations.

In [24]:
from IPython.display import display
from pyloghub.shipment_analyzer import forward_shipment_analyzer, forward_shipment_analyzer_sample_data

sample_data = forward_shipment_analyzer_sample_data()
shipments_df = sample_data['shipments']
transport_costs_adjustments_df = sample_data['transportCostAdjustments']
consolidation_df = sample_data['consolidation']
surcharges_df = sample_data['surcharges']
parameters = sample_data['parameters']

shipments_analysis_df, transports_analysis_df = forward_shipment_analyzer(shipments_df, transport_costs_adjustments_df, consolidation_df, surcharges_df, parameters, api_key)

display(shipments_analysis_df.head())
display(transports_analysis_df.head())

,shipmentId,shipmentLeg,fromId,fromCountry,fromIso2Country,fromState,fromCity,fromPostalCode,fromStreet,fromUnLocode,...,fromParsedLatitude,fromParsedLongitude,toParsedLatitude,toParsedLongitude,simulatedCostsPerTkm,simulatedFreightCosts,fulfilledOnTime,co2EmissionTankToWheel,co2EmissionWheelToTank,co2Emission
0,s001,1,WH_Sindelfingen,DE,DE,,Sindelfingen,,,,...,48.708416,9.003545,53.550341,10.000654,,,yes,409.70,86.02,495.72
1,s002,1,WH_Sindelfingen,DE,DE,,Sindelfingen,,,,...,48.708416,9.003545,49.019533,12.097487,0.74,1579.09,yes,146.90,30.84,177.74
2,s002,2,CU_Regensburg,DE,DE,,Regensburg,,,,...,49.019533,12.097487,48.974736,14.474285,1.49,1309.44,yes,60.18,12.64,72.82
3,s003,1,WH_Sindelfingen,DE,DE,,Sindelfingen,,,,...,48.708416,9.003545,46.907388,19.691721,0.99,2836.27,yes,196.05,41.16,237.21
4,s004,1,WH_Sindelfingen,DE,DE,,Sindelfingen,,,,...,48.708416,9.003545,41.125784,16.862029,0.4,5792.86,yes,1001.72,210.32,1212.04

,transportId,shipmentId,fromId,fromIso2Country,toId,toIso2Country,distance,shippingMode,carrier,truckShipPlaneType,...,Utilization,co2Emission,co2EmissionWheelToTank,co2EmissionTankToWheel,tkm,fromParsedLatitude,fromParsedLongitude,toParsedLatitude,toParsedLongitude,simulatedFreightCosts
0,T1,s001 leg 1,WH_Sindelfingen,DE,WH_Hamburg,DE,664.8582,road,Carrier 1,Standard,...,76.0,495.721711,86.020208,409.701503,5983.72380,48.708416,9.003545,53.550341,10.000654,
1,T2,s002 leg 1,WH_Sindelfingen,DE,CU_Regensburg,DE,306.4921,road,Carrier 1,Standard,...,64.0,177.739402,30.842265,146.897137,2145.44470,48.708416,9.003545,49.019533,12.097487,1579.09
2,T3,s002 leg 2,CU_Regensburg,DE,CU_Budejovice,CZ,237.5502,road,Carrier 1,Standard,...,30.0,72.815408,12.635308,60.180100,878.93574,49.019533,12.097487,48.974736,14.474285,1309.44
3,T4,s003 leg 1,WH_Sindelfingen,DE,WH_Kecskemet,HU,954.4365,road,Carrier 2,Standard,...,38.0,237.211125,41.162107,196.049018,2863.30950,48.708416,9.003545,46.907388,19.691721,2836.27
4,T5,s004 leg 1,WH_Sindelfingen,DE,CU_Bari,IT,1393.3492,road,Carrier 2,Mega,...,67.0,1212.036617,210.318893,1001.717724,14630.16660,48.708416,9.003545,41.125784,16.862029,5792.86

#### Reverse Shipment Analyzer
Analyzing and optimizing shipment costs and operations.

In [25]:
from IPython.display import display
from pyloghub.shipment_analyzer import reverse_shipment_analyzer, reverse_shipment_analyzer_sample_data

sample_data = reverse_shipment_analyzer_sample_data()
shipments_df = sample_data['shipments']
transport_costs_adjustments_df = sample_data['transportCostAdjustments']
consolidation_df = sample_data['consolidation']
surcharges_df = sample_data['surcharges']
parameters = sample_data['parameters']

shipments_analysis_df, transports_analysis_df = reverse_shipment_analyzer(shipments_df, transport_costs_adjustments_df, consolidation_df, surcharges_df, parameters, api_key)

display(shipments_analysis_df.head())
display(transports_analysis_df.head())

,shipmentId,shipmentLeg,fromId,fromLatitude,fromLongitude,fromIso2Country,toId,toLatitude,toLongitude,toIso2Country,...,expectedTransitTime,transportId,tkmShare,freightCostsPerTkm,simulatedCostsPerTkm,simulatedFreightCosts,fulfilledOnTime,co2EmissionTankToWheel,co2EmissionWheelToTank,co2Emission
0,s001,1,WH_Sindelfingen,48.708416,9.003545,DE,WH_Hamburg,53.550341,10.000654,DE,...,0,T1,5983.74,0.13,0.42,2486.4,yes,409.70,86.02,495.72
1,s002,1,WH_Sindelfingen,48.708416,9.003545,DE,CU_Regensburg,49.019533,12.097487,DE,...,0,T2,2145.43,0.30,0.74,1579.09,yes,146.90,30.84,177.74
2,s002,2,CU_Regensburg,49.019533,12.097487,DE,CU_Budejovice,48.974736,14.474285,CZ,...,1,T3,878.94,0.68,1.49,1309.44,yes,60.18,12.64,72.82
3,s003,1,WH_Sindelfingen,48.708416,9.003545,DE,WH_Kecskemet,46.894253,19.686575,HU,...,1,T4,2868.15,0.52,0.99,2836.27,yes,196.38,41.23,237.61
4,s004,1,WH_Sindelfingen,48.708416,9.003545,DE,CU_Bari,41.125784,16.862029,IT,...,1,T5,14630.18,0.14,0.4,5792.86,yes,1001.72,210.32,1212.04

,transportId,shipmentId,fromId,fromIso2Country,fromLatitude,fromLongitude,toId,toIso2Country,toLatitude,toLongitude,...,capacityPallets,transportValue,freightCosts,benchmarkTariff,Utilization,co2Emission,co2EmissionWheelToTank,co2EmissionTankToWheel,tkm,simulatedFreightCosts
0,T1,s001 leg 1,WH_Sindelfingen,DE,48.708416,9.003545,WH_Hamburg,DE,53.550341,10.000654,...,66,50000,800,road tariff,76.0,495.723202,86.020466,409.702736,5983.740,2486.4
1,T2,s002 leg 1,WH_Sindelfingen,DE,48.708416,9.003545,CU_Regensburg,DE,49.019533,12.097487,...,66,42000,650,road tariff,64.0,177.738243,30.842064,146.896179,2145.430,1579.09
2,T3,s002 leg 2,CU_Regensburg,DE,49.019533,12.097487,CU_Budejovice,CZ,48.974736,14.474285,...,66,18000,600,road tariff,30.0,72.815408,12.635308,60.180100,878.935,1309.44
3,T4,s003 leg 1,WH_Sindelfingen,DE,48.708416,9.003545,WH_Kecskemet,HU,46.894253,19.686575,...,66,15000,1500,road tariff,38.0,237.612011,41.231671,196.380340,2868.150,2836.27
4,T5,s004 leg 1,WH_Sindelfingen,DE,48.708416,9.003545,CU_Bari,IT,41.125784,16.862029,...,90,50000,2000,road tariff,67.0,1212.037488,210.319044,1001.718444,14630.175,5792.86

<p align="left">
  <img src="..\examples\assets\freight_matrix.png" alt="Header Image"  width="980"/>
</p>

#### Forward Freight Matrix
Evaluating shipments with costs based on your own freight cost matrices. The following matrix types are supported:

* Absolute weight distance matrix
* Relative weight distance matrix
* Absolute weight zone matrix
* Relative weight zone matrix
* Zone zone matrix
* Absolute weight zone distance matrix
* Relative weight zone distance matrix

In [26]:
from pyloghub.freight_matrix import forward_freight_matrix, forward_freight_matrix_sample_data

sample_data = forward_freight_matrix_sample_data()
shipments_df = sample_data['shipments']
matrix_id = "Your freight matrix id"

evaluated_shipments_df = forward_freight_matrix(shipments_df, matrix_id, api_key)
evaluated_shipments_df.head()

,shipmentId,shipmentDate,fromLocationId,fromCountry,fromState,fromCity,fromPostalCode,fromStreet,fromZone,toLocationId,...,pallets,loadingMeters,distance,fromLatitude,fromLongitude,toLatitude,toLongitude,costs,weightClass,distanceClass
0,S001,2023-08-07T00:00:00.000Z,1,DE,,BadHersfeld,,,Z1,1,...,1,369,325.1898,50.868134,9.706848,50.776351,6.083862,1326.875,8000,400
1,S002,2023-08-07T00:00:00.000Z,1,DE,,BadHersfeld,,,Z1,2,...,1,433,295.4166,50.868134,9.706848,49.231634,10.982855,1167.65,8000,300
2,S003,2023-08-07T00:00:00.000Z,1,DE,,BadHersfeld,,,Z1,3,...,1,147,294.3474,50.868134,9.706848,49.241972,10.963869,1167.65,8000,300
3,S004,2023-08-07T00:00:00.000Z,1,DE,,BadHersfeld,,,Z1,4,...,1,109,193.9281,50.868134,9.706848,50.251629,8.080199,1119.813,20000,220
4,S005,2023-08-07T00:00:00.000Z,1,DE,,BadHersfeld,,,Z1,5,...,1,242,119.1854,50.868134,9.706848,51.579484,9.752448,718.25,13000,120

#### Reverse Freight Matrix
Evaluating shipments with costs based on your own freight cost matrices. Supported matrix types are the same as in the forward version.

In [27]:
from pyloghub.freight_matrix import reverse_freight_matrix, reverse_freight_matrix_sample_data

sample_data = reverse_freight_matrix_sample_data()
shipments_df = sample_data['shipments']
matrix_id = "Your freight matrix id"

evaluated_shipments_df = reverse_freight_matrix(shipments_df, matrix_id, api_key)
evaluated_shipments_df.head()

,shipmentId,shipmentDate,fromLocationId,fromLatitude,fromLongitude,fromZone,toLocationId,toLatitude,toLongitude,toZone,distance,weight,volume,pallets,loadingMeters,fromCountry,toCountry,costs,weightClass,distanceClass
0,S001,2023-08-07T00:00:00.000Z,BadHersfeld,50.868134,9.706848,Z1,Aachen,50.776351,6.083862,Z4,330.0000,7291,12394,1,369,DE,DE,1326.875,8000,400
1,S023,2023-08-07T00:00:00.000Z,BadHersfeld,50.868134,9.706848,Z1,Aachen,50.776351,6.083862,Z4,325.1898,4005,15333,1,139,DE,DE,1075.625,5000,400
2,S002,2023-08-07T00:00:00.000Z,BadHersfeld,50.868134,9.706848,Z1,AbenbergerWald,49.231634,10.982855,Z4,295.4166,6027,2731,1,433,DE,DE,1167.65,8000,300
3,S003,2023-08-07T00:00:00.000Z,BadHersfeld,50.868134,9.706848,Z1,Abenberg,49.241972,10.963869,Z4,294.3474,6586,11141,1,147,DE,DE,1167.65,8000,300
4,S004,2023-08-07T00:00:00.000Z,BadHersfeld,50.868134,9.706848,Z1,Aarbergen,50.251629,8.080199,Z4,193.9281,13830,14295,1,109,DE,DE,1119.813,20000,220

You can create a freight matrix on the Log-hub Platform. Therefore, please create a workspace and click within the workspace on "Create Freight Matrix". There you can provide the matrix a name, select the matrix type and define all other parameters. 
To get the matrix id, please click on the "gear" icon. There you can copy & paste the matrix id that is needed in your API request.

<p align="left">
  <img src="../examples\assets\CO2_emissions.png" alt="Header Image"  width="980"/>
</p>

#### Forward CO2 Emissions Road
Calculating a CO2 footprint based on your shipments transported by road.

In [33]:
from IPython.display import display
from pyloghub.freight_shipment_emissions_road import forward_freight_shipment_emissions_road_sample_data, forward_freight_shipment_emissions_road

sample_data = forward_freight_shipment_emissions_road_sample_data()
addresses_df = sample_data['addresses']
parameters = sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']

freight_emissions_df, not_evaluated_df = forward_freight_shipment_emissions_road(addresses_df, parameters, api_key, save_scenario)
display(freight_emissions_df.head())
display(not_evaluated_df.head())

,distanceUnit,weightUnit,co2Emission,co2EmissionUnit,calculationType,distance,shipmentId,shipmentDate,fromCountry,fromState,...,wellToTankCO2,wellToTankCO2Unit,tankToWheelCO2,tankToWheelCO2Unit,electricityGenerationCO2Emissions,electricityGenerationCO2EmissionsUnit,electricityTransmissionDistributionAndLosses,electricityTransmissionDistributionAndLossesUnit,electricityProduction,electricityProductionUnit
0,KM,KG,31.628705,KG,ROAD,366.14,shipment_1,2022-10-27T00:00:00.000Z,DE,Hessen,...,5.488377,KG,26.140328,KG,0,,0,,0,
1,KM,KG,32.623517,KG,ROAD,424.80,shipment_2,2022-11-24T00:00:00.000Z,DE,Hessen,...,5.661002,KG,26.962515,KG,0,,0,,0,
2,KM,KG,7.984966,KG,ROAD,251.63,shipment_3,2022-10-19T00:00:00.000Z,DE,Hessen,...,1.385593,KG,6.599373,KG,0,,0,,0,
3,KM,KG,10.231794,KG,ROAD,253.50,shipment_4,2022-12-01T00:00:00.000Z,DE,Hessen,...,1.775474,KG,8.456320,KG,0,,0,,0,
4,KM,KG,10.961394,KG,ROAD,222.00,shipment_5,2022-09-22T00:00:00.000Z,DE,Hessen,...,1.902078,KG,9.059316,KG,0,,0,,0,

Empty DataFrame
Columns: []
Index: []

#### Reverse CO2 Emissions Road
Calculating a CO2 footprint based on your shipments transported by road.

In [34]:
from IPython.display import display
from pyloghub.freight_shipment_emissions_road import reverse_freight_shipment_emissions_road_sample_data, reverse_freight_shipment_emissions_road

sample_data = reverse_freight_shipment_emissions_road_sample_data()
coordinates_df = sample_data['coordinates']
parameters = sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']

freight_emissions_df, not_evaluated_df = reverse_freight_shipment_emissions_road(coordinates_df, parameters, api_key, save_scenario)
display(freight_emissions_df.head())
display(not_evaluated_df.head())

,distanceUnit,weightUnit,co2Emission,co2EmissionUnit,calculationType,distance,shipmentId,shipmentDate,fromLatitude,fromLongitude,...,wellToTankCO2,wellToTankCO2Unit,tankToWheelCO2,tankToWheelCO2Unit,electricityGenerationCO2Emissions,electricityGenerationCO2EmissionsUnit,electricityTransmissionDistributionAndLosses,electricityTransmissionDistributionAndLossesUnit,electricityProduction,electricityProductionUnit
0,KM,KG,31.628705,KG,ROAD,366.14,shipment_001,2022-10-27T00:00:00.000Z,50.868134,9.706848,...,5.488377,KG,26.140328,KG,0,,0,,0,
1,KM,KG,32.623517,KG,ROAD,424.80,shipment_002,2022-11-24T00:00:00.000Z,50.868134,9.706848,...,5.661002,KG,26.962515,KG,0,,0,,0,
2,KM,KG,7.984966,KG,ROAD,251.63,shipment_003,2022-10-19T00:00:00.000Z,50.868134,9.706848,...,1.385593,KG,6.599373,KG,0,,0,,0,
3,KM,KG,10.214841,KG,ROAD,253.08,shipment_004,2022-12-01T00:00:00.000Z,50.868134,9.706848,...,1.772532,KG,8.442309,KG,0,,0,,0,
4,KM,KG,10.961394,KG,ROAD,222.00,shipment_005,2022-09-22T00:00:00.000Z,50.868134,9.706848,...,1.902078,KG,9.059316,KG,0,,0,,0,

Empty DataFrame
Columns: []
Index: []

#### Forward CO2 Emissions Rail
Calculating a CO2 footprint based on your shipments transported by train.

In [36]:
from pyloghub.freight_shipment_emissions_rail import forward_freight_shipment_emissions_rail_sample_data, forward_freight_shipment_emissions_rail

sample_data = forward_freight_shipment_emissions_rail_sample_data()
addresses_df = sample_data['addresses']
parameters = sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']

freight_emissions_df = forward_freight_shipment_emissions_rail(addresses_df, parameters, api_key, save_scenario)
freight_emissions_df.head()

,weightUnit,co2Emission,co2EmissionUnit,calculationType,fromLatitude,fromLongitude,toLatitude,toLongitude,distance,distanceUnit,shipmentId,shipmentDate,weight,wellToTankCO2,wellToTankCO2Unit,tankToWheelCO2,tankToWheelCO2Unit
0,KG,13.410046,KG,RAIL,52.52257,13.40242,50.10226,8.69282,521.881,KM,shipment_1,2022-10-27T00:00:00.000Z,931,2.720879,KG,10.689167,KG
1,KG,16.467095,KG,RAIL,52.52257,13.40242,48.03533,11.59313,643.618,KM,shipment_2,2022-10-27T00:00:00.000Z,927,3.341150,KG,13.125945,KG
2,KG,4.332314,KG,RAIL,52.52257,13.40242,52.37660,9.74135,263.369,KM,shipment_3,2022-11-24T00:00:00.000Z,596,0.879020,KG,3.453294,KG
3,KG,15.084405,KG,RAIL,52.52257,13.40242,48.76956,9.25974,642.984,KM,shipment_4,2022-11-15T00:00:00.000Z,850,3.060604,KG,12.023801,KG
4,KG,4.489627,KG,RAIL,52.52257,13.40242,51.21178,6.75227,540.424,KM,shipment_5,2022-11-15T00:00:00.000Z,301,0.910939,KG,3.578688,KG

#### Reverse CO2 Emissions Rail
Calculating a CO2 footprint based on your shipments transported by train.

In [37]:
from pyloghub.freight_shipment_emissions_rail import reverse_freight_shipment_emissions_rail_sample_data, reverse_freight_shipment_emissions_rail

sample_data = reverse_freight_shipment_emissions_rail_sample_data()
coordinates_df = sample_data['coordinates']
parameters = sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']

freight_emissions_df = reverse_freight_shipment_emissions_rail(coordinates_df, parameters, api_key, save_scenario)
freight_emissions_df.head()

,weightUnit,co2Emission,co2EmissionUnit,calculationType,distance,distanceUnit,shipmentId,shipmentDate,fromLatitude,fromLongitude,toLatitude,toLongitude,weight,wellToTankCO2,wellToTankCO2Unit,tankToWheelCO2,tankToWheelCO2Unit
0,KG,13.410046,KG,RAIL,521.881,KM,shipment_1,2022-10-27T00:00:00.000Z,52.52257,13.40242,50.10226,8.69282,931,2.720879,KG,10.689167,KG
1,KG,16.467095,KG,RAIL,643.618,KM,shipment_2,2022-10-27T00:00:00.000Z,52.52257,13.40242,48.03533,11.59313,927,3.341150,KG,13.125945,KG
2,KG,4.332314,KG,RAIL,263.369,KM,shipment_3,2022-11-24T00:00:00.000Z,52.52257,13.40242,52.37660,9.74135,596,0.879020,KG,3.453294,KG
3,KG,15.084405,KG,RAIL,642.984,KM,shipment_4,2022-11-15T00:00:00.000Z,52.52257,13.40242,48.76956,9.25974,850,3.060604,KG,12.023801,KG
4,KG,4.489627,KG,RAIL,540.424,KM,shipment_5,2022-11-15T00:00:00.000Z,52.52257,13.40242,51.21178,6.75227,301,0.910939,KG,3.578688,KG

#### CO2 Emissions Air
Calculating a CO2 footprint based on your shipments transported by air.

In [38]:
from pyloghub.freight_shipment_emissions_air import forward_freight_shipment_emissions_air_sample_data, forward_freight_shipment_emissions_air

sample_data = forward_freight_shipment_emissions_air_sample_data()
iata_codes_df = sample_data['iataCodes']
parameters = sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']

freight_emissions_df = forward_freight_shipment_emissions_air(iata_codes_df, parameters, api_key, save_scenario)
freight_emissions_df.head()

,weightUnit,co2Emission,co2EmissionUnit,calculationType,fromLatitude,fromLongitude,toLatitude,toLongitude,shipmentId,shipmentDate,fromIataCode,toIataCode,flightNumber,isRefrigirated,weight,distance,wellToTankCO2,wellToTankCO2Unit,tankToWheelCO2,tankToWheelCO2Unit
0,KG,708.924636,KG,AIR,50.03652,8.56127,61.1744,-149.996,shipment_001,2022-09-01T00:00:00.000Z,FRA,ANC,,no,150,7501.837369,127.838869,KG,581.085767,KG
1,KG,236.308212,KG,AIR,50.03652,8.56127,61.1744,-149.996,shipment_002,2022-09-02T00:00:00.000Z,FRA,ANC,,no,50,7501.837369,42.612956,KG,193.695256,KG
2,KG,1417.849272,KG,AIR,50.03652,8.56127,61.1744,-149.996,shipment_003,2022-09-03T00:00:00.000Z,FRA,ANC,,no,300,7501.837369,255.677738,KG,1162.171534,KG
3,KG,1181.541060,KG,AIR,50.03652,8.56127,61.1744,-149.996,shipment_004,2022-09-04T00:00:00.000Z,FRA,ANC,,no,250,7501.837369,213.064781,KG,968.476279,KG
4,KG,945.232848,KG,AIR,50.03652,8.56127,61.1744,-149.996,shipment_005,2022-09-05T00:00:00.000Z,FRA,ANC,,no,200,7501.837369,170.451825,KG,774.781023,KG

#### CO2 Emissions Sea
Calculating a CO2 footprint based on your shipments transported by sea.

In [40]:
from pyloghub.freight_shipment_emissions_sea import forward_freight_shipment_emissions_sea_sample_data, forward_freight_shipment_emissions_sea

sample_data = forward_freight_shipment_emissions_sea_sample_data()
un_locodes_df = sample_data['unLocodes']
parameters = sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']

freight_emissions_df = forward_freight_shipment_emissions_sea(un_locodes_df, parameters, api_key, save_scenario)
freight_emissions_df.head()

,weightUnit,co2Emission,co2EmissionUnit,calculationType,fromLatitude,fromLongitude,toLatitude,toLongitude,shipmentId,shipmentDate,fromUnLocode,toUnLocode,vesselId,isRefrigirated,weight,distance,wellToTankCO2,wellToTankCO2Unit,tankToWheelCO2,tankToWheelCO2Unit
0,KG,43.978836,KG,SEA,53.5425,9.9038,31.33460,121.70620,shipment_001,2022-10-03T00:00:00.000Z,DEHAM,CNSHG,,no,336,25664.551927,3.449320,KG,40.529516,KG
1,KG,23.498787,KG,SEA,53.5425,9.9038,1.26760,103.75710,shipment_002,2022-10-03T00:00:00.000Z,DEHAM,SGSIN,,no,204,22586.211164,1.843042,KG,21.655745,KG
2,KG,58.253702,KG,SEA,53.5425,9.9038,22.49668,113.86191,shipment_003,2022-10-03T00:00:00.000Z,DEHAM,CNSZX,,no,460,24830.981719,4.568918,KG,53.684784,KG
3,KG,47.230909,KG,SEA,53.5425,9.9038,29.96419,121.95943,shipment_004,2022-10-03T00:00:00.000Z,DEHAM,CNZOS,,no,360,25724.861317,3.704385,KG,43.526524,KG
4,KG,38.189898,KG,SEA,53.5425,9.9038,23.07580,113.44680,shipment_005,2022-10-04T00:00:00.000Z,DEHAM,CNGZG,,no,301,24877.698839,2.995286,KG,35.194612,KG

<p align="left">
  <img src="../examples\assets\demand_forecasting.png" alt="Header Image"  width="980"/>
</p>

#### Demand Forecasting
Predicting future demand for your products based on the past demand data.

In [41]:
from pyloghub.demand_forecasting import demand_forecasting_sample_data, demand_forecasting

sample_data = demand_forecasting_sample_data()
past_demand_data_df = sample_data['pastDemandData']
future_impact_factors_df = sample_data['futureImpactFactors']
sku_parameters_df = sample_data['skuParameters']

prediction_df = demand_forecasting(past_demand_data_df, future_impact_factors_df, sku_parameters_df, api_key)
prediction_df.head()

   sku        date  demand lowerBound upperBound
0  SK1  2024-01-01     307
1  SK1  2024-01-02     309
2  SK1  2024-01-03     335
3  SK1  2024-01-04     344
4  SK1  2024-01-05     357

<p align="left">
  <img src="../examples\assets\log_hub_tables.png" alt="Header Image"  width="980"/>
</p>

### Working with Log-hub Tables

To read or update a table, you need a table link from a table in the Log-hub platform. Therefore, please navigate in a workspace with an existing dataset and go to the table you would like to read or update. Click on the "three dots" and click on "Table Link". Then copy the corresponding table link. If no table exists create a dataset and a new table via the GUI.

#### Reading Data from a Table
The read_table function simplifies the process of fetching and formatting data from a specific table on the Log-hub platform into a pandas DataFrame. This function ensures that the data types in the DataFrame match those in the Log-hub table, leveraging metadata from the table for precise formatting.

In [ ]:
from IPython.display import display
from pyloghub.dataset import read_table

# Replace with actual table link and email
table_link = "https://production.supply-chain-apps.log-hub.com/api/v1/datasets/.../tables/.../rows"
email = "your_email@example.com"

# Read data from table
dataframe = read_table(table_link, email, api_key)

# Check the DataFrame
if dataframe is not None:
    display(dataframe.head())
else:
    print("Failed to read data from the table.")

#### Updating Data in a Table
The update_table function is designed for uploading data from a local pandas DataFrame to a specific table on the Log-hub platform. It requires the table link, the DataFrame, metadata describing the table structure (optional). If no metadata are provided, the datatypes are automatically extracted from the pandas dataframe.

In [ ]:
from pyloghub.dataset import update_table
import pandas as pd

# Replace with actual credentials and link
table_link = "https://production.supply-chain-apps.log-hub.com/api/v1/datasets/.../tables/.../rows"
email = "your_email@example.com"
api_key = "your_api_key"

# Example DataFrame
dataframe = pd.DataFrame({
    'ColumnA': ['Value1', 'Value2'],
    'ColumnB': [123, 456]
})

# Metadata for the table
metadata = {
    'table_name': 'YourTableName',  # Optional, defaults to 'Table 01' if not provided
    'columns': [
        {
            'name': 'ColumnA',
            'propertyName': 'ColumnA',
            'dataType': 'string',
            'format': 'General'
        },
        {
            'name': 'ColumnB',
            'propertyName': 'ColumnB',
            'dataType': 'number',
            'format': 'General'
        }
        # More columns as needed
    ]
}

# Update table
response = update_table(table_link, dataframe, metadata, email, api_key)

if response is None:
    print("Table updated successfully.")
else:
    print("Failed to update the table.")