<p align="left">
  <img src="../examples\assets\log-hub-github-header.png" alt="Header Image"  width="980"/>
</p>

# Log-hub Python API library

## Introduction

The `pyloghub` package provides convinient access to various Log-hub API services for Supply Chain Visualization, Network Design Optimization, and Transport Optimization as well as access to the Log-hub platform data.

### Prerequisites

- Python 3.10 or later recommended
- Pip (Python package manager)
- Log-hub API key
- Supply Chain APPS PRO subscription

## Installation

### Setting Up Python Environment

#### Recommended Python Version

Python 3.10 or later is recommended for optimal performance and compatibility.

#### Optional: Setting Up a Virtual Environment

A virtual environment allows you to manage Python packages for different projects separately.

1. **Create a Virtual Environment**:
   - **Windows**: 
     ```bash
     python -m venv loghub_env
     ```
   - **macOS/Linux**: 
     ```bash
     python3 -m venv loghub_env
     ```

2. **Activate the Virtual Environment**:
   - **Windows**: 
     ```bash
     .\loghub_env\Scripts\activate
     ```
   - **macOS/Linux**: 
     ```bash
     source loghub_env/bin/activate
     ```

   Deactivate with `deactivate` when done.

### Installing `pyloghub` Package

Within the environment, install the package using:

```bash
pip install pyloghub
 ```

## Configuration

### Obtaining an API Key

1. Sign up or log in at [Log-hub Account Integration](https://production.supply-chain-apps.log-hub.com/sca/account/integration).
2. Obtain your API key.

### Setting Up Your Environment

Securely store your API key for use in your Python scripts or as an environment variable.

In [29]:
api_key = 'YOUR_API_KEY'

## Usage

### Sample Code: Reverse Distance Calculation

This example demonstrates using the Reverse Distance Calculation feature:

In [17]:
# Import Functions
from pyloghub.distance_calculation import reverse_distance_calculation, reverse_distance_calculation_sample_data

# Load Sample data
sample_data = reverse_distance_calculation_sample_data()
geocode_data_df = sample_data['geocode_data']
parameters = sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']

# Run Calculation
reverse_distance_result_df = reverse_distance_calculation(geocode_data_df, parameters, api_key, save_scenario)

# View Results
reverse_distance_result_df.head()

,senderLocation,senderLatitude,senderLongitude,recipientLocation,recipientLatitude,recipientLongitude,dist,time,beeline,distanceUnit,durationUnit
0,San Francisco,37.764799,-122.46299,Fresno,36.671350,-119.815535,311.98,207.33,264.07,km,min
1,San Francisco,37.764799,-122.46299,Sacramento,38.473226,-121.298071,167.06,118.26,128.80,km,min
2,San Francisco,37.764799,-122.46299,Long Beach,33.777466,-118.188487,655.34,409.56,587.47,km,min
3,San Francisco,37.764799,-122.46299,Oakland,37.804456,-122.271356,22.86,21.53,17.41,km,min
4,San Francisco,37.764799,-122.46299,Bakersfield,35.244232,-118.973666,474.06,299.14,419.25,km,min

## Available Functionalities

### Overview

`pyloghub` offers a suite of functionalities to enhance your supply chain management processes. Below is a quick guide to the available features and sample usage for each.

<p align="left">
  <img src="../examples\assets\geocoding.png" alt="Header Image"  width="980"/>
</p>

#### Forward Geocoding
Convert addresses to geographic coordinates.

In [18]:
from pyloghub.geocoding import forward_geocoding, forward_geocoding_sample_data

sample_data = forward_geocoding_sample_data()
addresses_df = sample_data['addresses']
save_scenario = sample_data['saveScenarioParameters']
forward_geocoding_result_df = forward_geocoding(addresses_df, api_key, save_scenario)
forward_geocoding_result_df.head()

,country,state,postalCode,city,street,searchString,parsedCountry,parsedState,parsedPostalCode,parsedCity,parsedStreet,parsedLatitude,parsedLongitude,validationQuality
0,RU,,,Moscow,,,RU,Moscow,,Moscow,,55.750541,37.617478,90
1,TR,,,Istanbul,,,TR,,34122,Istanbul,,41.006381,28.975872,91
2,GB,,,London,,,GB,England,,London,,51.507446,-0.127765,89
3,RU,,,Sankt Petersburg,,,RU,Saint Petersburg,,Saint Petersburg,,59.938732,30.316229,89
4,DE,,,Berlin,,,DE,,,Berlin,,52.510885,13.398937,86

#### Reverse Geocoding
Convert geographic coordinates to addresses.

In [19]:
from pyloghub.geocoding import reverse_geocoding, reverse_geocoding_sample_data

sample_data = reverse_geocoding_sample_data()
geocodes_df = sample_data['geocodes']
save_scenario = sample_data['saveScenarioParameters']
reverse_geocoding_result_df = reverse_geocoding(geocodes_df, api_key, save_scenario)
reverse_geocoding_result_df.head()

c:\git\log-hub-python\pyloghub\geocoding.py:169: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  geocodes = geocodes.applymap(lambda x: x.to_dict() if isinstance(x, pd.Series) else x)

,latitude,longitude,parsedCountry,parsedState,parsedPostalCode,parsedCity,parsedStreet
0,55.479205,37.327330,RU,Москва,142793,,проспект Славского
1,41.076602,29.052495,TR,,34342,Beşiktaş,Cevdetpaşa Caddesi
2,51.507322,-0.127647,GB,England,,London,
3,59.960674,30.158655,RU,Санкт-Петербург,,,
4,52.519854,13.438596,DE,,10249,Berlin,Friedenstraße

<p align="left">
  <img src="../examples\assets\distance_calculation.png" alt="Header Image"  width="980"/>
</p>

#### Forward Distance Calculation
Calculate distances based on address data.

In [20]:
from pyloghub.distance_calculation import forward_distance_calculation, forward_distance_calculation_sample_data

sample_data = forward_distance_calculation_sample_data()
address_data_df = sample_data['address_data']
parameters = sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']
forward_distance_calculation_result_df = forward_distance_calculation(address_data_df, parameters, api_key, save_scenario)
forward_distance_calculation_result_df.head()

,senderCountry,senderState,senderPostalCode,senderCity,senderStreet,parsedSenderLatitude,parsedSenderLongitude,senderStatus,recipientCountry,recipientState,...,recipientCity,recipientStreet,parsedRecipientLatitude,parsedRecipientLongitude,recipientStatus,dist,time,beeline,distanceUnit,durationUnit
0,US,CA,,San Francisco,,37.779259,-122.419329,ok,US,CA,...,Fresno,,36.739442,-119.784830,ok,299.30,193.59,260.23,km,min
1,US,CA,,San Francisco,,37.779259,-122.419329,ok,US,CA,...,Sacramento,,38.581061,-121.493895,ok,139.79,94.98,120.38,km,min
2,US,CA,,San Francisco,,37.779259,-122.419329,ok,US,CA,...,Long Beach,,33.769016,-118.191604,ok,650.88,404.49,586.63,km,min
3,US,CA,,San Francisco,,37.779259,-122.419329,ok,US,CA,...,Oakland,,37.804456,-122.271356,ok,18.46,16.97,13.30,km,min
4,US,CA,,San Francisco,,37.779259,-122.419329,ok,US,CA,...,Bakersfield,,35.373871,-119.019463,ok,455.35,285.39,404.55,km,min

#### Reverse Distance Calculation
Calculate distances based on geocode data.

In [21]:
from pyloghub.distance_calculation import reverse_distance_calculation, reverse_distance_calculation_sample_data

sample_data = reverse_distance_calculation_sample_data()
geocode_data_df = sample_data['geocode_data']
parameters = sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']
reverse_center_of_gravity_result_df = reverse_distance_calculation(geocode_data_df, parameters, api_key, save_scenario)
reverse_center_of_gravity_result_df.head()

,senderLocation,senderLatitude,senderLongitude,recipientLocation,recipientLatitude,recipientLongitude,dist,time,beeline,distanceUnit,durationUnit
0,San Francisco,37.764799,-122.46299,Fresno,36.671350,-119.815535,311.98,207.33,264.07,km,min
1,San Francisco,37.764799,-122.46299,Sacramento,38.473226,-121.298071,167.06,118.26,128.80,km,min
2,San Francisco,37.764799,-122.46299,Long Beach,33.777466,-118.188487,655.34,409.56,587.47,km,min
3,San Francisco,37.764799,-122.46299,Oakland,37.804456,-122.271356,22.86,21.53,17.41,km,min
4,San Francisco,37.764799,-122.46299,Bakersfield,35.244232,-118.973666,474.06,299.14,419.25,km,min

<p align="left">
  <img src="../examples\assets\center_of_gravity.png" alt="Header Image"  width="980"/>
</p>

#### Forward Center of Gravity
Determine optimal facility locations based on addresses.

In [22]:
from IPython.display import display
from pyloghub.center_of_gravity import forward_center_of_gravity, forward_center_of_gravity_sample_data

sample_data = forward_center_of_gravity_sample_data()
addresses_df = sample_data['addresses']
parameters = sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']
assigned_addresses_df, centers_df = forward_center_of_gravity(addresses_df, parameters, api_key, save_scenario)

display(assigned_addresses_df.head())
display(centers_df.head())

,name,weight,centerLatitude,centerLongitude,centerName,distance,country,state,postalCode,city,street,latitude,longitude
0,Customer_0044,367,30.415921,75.588789,Center 5,160.38,IN,,143500,Batala,,31.819302,75.199997
1,Customer_1378,67,25.520204,87.969255,Center 1,164.35,IN,,736135,Dinhata,,26.123838,89.468102
2,Customer_0263,20,23.831567,71.610388,Center 3,287.02,IN,,345025,Phalsund,,26.397339,71.922417
3,Customer_0767,238,11.329570,77.731634,Center 2,119.38,IN,,635111,Karimangalam,,12.307006,78.185379
4,Customer_1027,664,17.060637,79.283285,Center 4,299.97,IN,,524001,Nellore,,14.449371,79.987373

   centerLatitude  centerLongitude centerName  weight
0       25.520204        87.969255   Center 1    4004
1       11.329570        77.731634   Center 2    9395
2       23.831567        71.610388   Center 3    3565
3       17.060637        79.283285   Center 4    7576
4       30.415921        75.588789   Center 5   10157

#### Reverse Center of Gravity
Determine optimal facility locations based on coordinates.

In [15]:
from IPython.display import display
from pyloghub.center_of_gravity import reverse_center_of_gravity, reverse_center_of_gravity_sample_data

sample_data = reverse_center_of_gravity_sample_data()
coordinates_df = sample_data['coordinates']
parameters = sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']
assigned_geocodes_df, centers_df = reverse_center_of_gravity(coordinates_df, parameters, api_key, save_scenario)
display(assigned_geocodes_df.head())
display(centers_df.head())

,name,latitude,longitude,weight,centerLatitude,centerLongitude,centerName,distance
0,Customer_0044,31.818508,75.204906,367,30.527110,75.472489,Center 2,145.84
1,Customer_1378,26.126189,89.467499,67,25.627212,88.132321,Center 4,144.64
2,Customer_0263,26.402907,71.916797,20,23.825234,71.899610,Center 3,286.63
3,Customer_0767,12.299513,78.206302,238,11.337219,77.733798,Center 1,118.72
4,Customer_1027,14.446319,79.982021,664,17.052517,79.267603,Center 5,299.71

   centerLatitude  centerLongitude centerName  weight
0       11.337219        77.733798   Center 1    9395
1       30.527110        75.472489   Center 2    9914
2       23.825234        71.899610   Center 3    3808
3       25.627212        88.132321   Center 4    4004
4       17.052517        79.267603   Center 5    7576

<p align="left">
  <img src="../examples\assets\transport_optimization.png" alt="Header Image"  width="980"/>
</p>

#### Milkrun Optimization Plus
Optimize delivery routes with multiple stops.

In [24]:
from IPython.display import display
from pyloghub.transport_optimization_plus import forward_transport_optimization_plus, forward_transport_optimization_plus_sample_data

sample_data = forward_transport_optimization_plus_sample_data()
vehicles_df = sample_data['vehicles']
shipments_df = sample_data['shipments']
timeWindowProfiles_df = sample_data['timeWindowProfiles']
breaks_df = sample_data['breaks']
parameters = sample_data['parameters']
save_scenario = sample_data['saveScenarioParameters']

route_overview_df, route_details_df, external_orders_df = forward_transport_optimization_plus(vehicles_df, shipments_df, timeWindowProfiles_df, breaks_df, parameters, api_key, save_scenario)

display(route_overview_df.head())
display(route_details_df.head())
display(external_orders_df.head())

,vehicleType,deliveryWeight,deliveryVolume,deliveryPallets,pickupWeight,pickupVolume,pickupPallets,drivingTime,waitingTime,startTime,...,maxHeight,minHeight,metersUp,metersDown,utilizationWeight,utilizationVolume,utilizationPallets,overallUtilization,stopDuration,costs
0,Standard,796,2,17,796,2,17,313.57,0.00,2021-12-16T20:50:31.000Z,...,673.2,264.1,3333.2,3331.0,1.92,5.88,16.67,16.67,110,724
1,Standard,492,1,12,492,1,12,579.75,0.60,2021-12-16T20:23:00.000Z,...,642.6,365.6,5926.2,5924.4,2.05,5.88,20.00,20.00,85,1210
2,Standard,1263,3,31,1263,3,31,460.90,18.27,2021-12-16T21:00:00.000Z,...,638.9,359.0,4255.6,4253.4,2.25,5.88,20.00,20.00,135,971
3,Truck_12t,1164,3,29,1164,3,29,565.17,0.00,2021-12-16T20:09:44.000Z,...,892.7,365.6,5775.0,5772.8,4.70,5.88,40.00,40.00,135,1146
4,Truck_12t,569,2,16,569,2,16,571.87,0.00,2021-12-16T20:20:01.000Z,...,6313.3,195.4,17359.8,17358.0,2.70,5.88,30.00,30.00,110,1168

,drivingTime,waitingTime,arrivalTimeAtLocation,stopLatitude,stopLongitude,departureTimeFromLocation,distance,stopName,routeId,sequence,deliveryWeight,deliveryVolume,deliveryPallets,pickupWeight,pickupVolume,pickupPallets,vehicleUtilization,stopDuration
0,0.00,0.0,2021-12-16T20:50:31.000Z,47.371887,8.423887,2021-12-16T20:50:31.000Z,0.00,Depot_Zurich,1,1,0,0,0,0,0,0,0.00,0
1,0.00,0.0,2021-12-16T20:50:31.000Z,,,2021-12-16T21:20:31.000Z,0.00,break,1,2,0,0,0,0,0,0,0.00,30
2,39.48,0.0,2021-12-16T22:00:00.000Z,47.392715,8.044445,2021-12-16T22:10:00.000Z,41.20,Aarau,1,3,0,0,0,336,1,7,11.67,10
3,22.55,0.0,2021-12-16T22:32:33.000Z,47.320642,7.89936,2021-12-16T22:42:33.000Z,21.34,Aarburg,1,4,0,0,0,460,1,10,16.67,10
4,0.00,0.0,2021-12-16T22:42:33.000Z,,,2021-12-16T23:12:33.000Z,0.00,break,1,5,0,0,0,0,0,0,0.00,30

Empty DataFrame
Columns: []
Index: []

<p align="left">
  <img src="../examples\assets\shipment_analyzer.png" alt="Header Image"  width="980"/>
</p>

#### Shipment Analyzer
Analyze and optimize shipment costs and operations.

In [26]:
from IPython.display import display
from pyloghub.shipment_analyzer import forward_shipment_analyzer, forward_shipment_analyzer_sample_data

sample_data = forward_shipment_analyzer_sample_data()
shipments_df = sample_data['shipments']
transport_costs_adjustments_df = sample_data['transportCostAdjustments']
consolidation_df = sample_data['consolidation']
surcharges_df = sample_data['surcharges']
parameters = sample_data['parameters']

shipments_analysis_df, transports_analysis_df = forward_shipment_analyzer(shipments_df, transport_costs_adjustments_df, consolidation_df, surcharges_df, parameters, api_key)

display(shipments_analysis_df.head())
display(transports_analysis_df.head())

,shipmentId,shipmentLeg,fromId,fromCountry,fromIso2Country,fromState,fromCity,fromPostalCode,fromStreet,fromUnLocode,...,fromParsedLatitude,fromParsedLongitude,toParsedLatitude,toParsedLongitude,simulatedCostsPerTkm,simulatedFreightCosts,fulfilledOnTime,co2EmissionTankToWheel,co2EmissionWheelToTank,co2Emission
0,s001,1,WH_Sindelfingen,DE,DE,,Sindelfingen,,,,...,48.708416,9.003545,53.550341,10.000654,,,yes,409.70,86.02,495.72
1,s002,1,WH_Sindelfingen,DE,DE,,Sindelfingen,,,,...,48.708416,9.003545,49.019533,12.097487,0.74,1579.09,yes,146.90,30.84,177.74
2,s002,2,CU_Regensburg,DE,DE,,Regensburg,,,,...,49.019533,12.097487,48.974736,14.474285,1.49,1309.44,yes,60.18,12.64,72.82
3,s003,1,WH_Sindelfingen,DE,DE,,Sindelfingen,,,,...,48.708416,9.003545,46.907388,19.691721,0.99,2836.27,yes,196.05,41.16,237.21
4,s004,1,WH_Sindelfingen,DE,DE,,Sindelfingen,,,,...,48.708416,9.003545,41.125784,16.862029,0.4,5792.86,yes,1001.72,210.32,1212.04

,transportId,shipmentId,fromId,fromIso2Country,toId,toIso2Country,distance,shippingMode,carrier,truckShipPlaneType,...,Utilization,co2Emission,co2EmissionWheelToTank,co2EmissionTankToWheel,tkm,fromParsedLatitude,fromParsedLongitude,toParsedLatitude,toParsedLongitude,simulatedFreightCosts
0,T1,s001 leg 1,WH_Sindelfingen,DE,WH_Hamburg,DE,664.8582,road,Carrier 1,Standard,...,76.0,495.721711,86.020208,409.701503,5983.72380,48.708416,9.003545,53.550341,10.000654,
1,T2,s002 leg 1,WH_Sindelfingen,DE,CU_Regensburg,DE,306.4921,road,Carrier 1,Standard,...,64.0,177.739402,30.842265,146.897137,2145.44470,48.708416,9.003545,49.019533,12.097487,1579.09
2,T3,s002 leg 2,CU_Regensburg,DE,CU_Budejovice,CZ,237.5502,road,Carrier 1,Standard,...,30.0,72.815408,12.635308,60.180100,878.93574,49.019533,12.097487,48.974736,14.474285,1309.44
3,T4,s003 leg 1,WH_Sindelfingen,DE,WH_Kecskemet,HU,954.4365,road,Carrier 2,Standard,...,38.0,237.211125,41.162107,196.049018,2863.30950,48.708416,9.003545,46.907388,19.691721,2836.27
4,T5,s004 leg 1,WH_Sindelfingen,DE,CU_Bari,IT,1393.3492,road,Carrier 2,Mega,...,67.0,1212.036617,210.318893,1001.717724,14630.16660,48.708416,9.003545,41.125784,16.862029,5792.86

<p align="left">
  <img src="..\examples\assets\freight_matrix.png" alt="Header Image"  width="980"/>
</p>

#### Freight Matrix
Evaluate shipments with costs based on your own freight cost matrices. The following matrix types are supported:

* Absolute weight distance matrix
* Relative weight distance matrix
* Absolute weight zone matrix
* Relative weight zone matrix
* Zone zone matrix
* Absolute weight zone distance matrix
* Relative weight zone distance matrix

In [34]:
from IPython.display import display
from pyloghub.freight_matrix import forward_freight_matrix, forward_freight_matrix_sample_data

sample_data = forward_freight_matrix_sample_data()
shipments_df = sample_data['shipments']
matrix_id = "Your freight matrix id"

evaluated_shipments_df = forward_freight_matrix(shipments_df, matrix_id, api_key)
display(evaluated_shipments_df.head())

You can create a freight matrix on the Log-hub Platform. Therefore, please create a workspace and click within the workspace on "Create Freight Matrix". There you can provide the matrix a name, select the matrix type and define all other parameters. 
To get the matrix id, please click on the "gear" icon. There you can copy & paste the matrix id that is needed in your API request.

<p align="left">
  <img src="../examples\assets\log_hub_tables.png" alt="Header Image"  width="980"/>
</p>

For the Milkrun Optimization, Transport Optimization as well as the Shipment Analyzer service there is also the reverse version available.

### Working with Log-hub Tables

To read or update a table, you need a table link from a table in the Log-hub platform. Therefore, please navigate in a workspace with an existing dataset and go to the table you would like to read or update. Click on the "three dots" and click on "Table Link". Then copy the corresponding table link. If no table exists create a dataset and a new table via the GUI.

#### Reading Data from a Table
The read_table function simplifies the process of fetching and formatting data from a specific table on the Log-hub platform into a pandas DataFrame. This function ensures that the data types in the DataFrame match those in the Log-hub table, leveraging metadata from the table for precise formatting.

In [43]:
from pyloghub.dataset import read_table
import pandas as pd

# Replace with actual table link, email, and API key
table_link = "https://production.supply-chain-apps.log-hub.com/api/v1/datasets/.../tables/.../rows"
email = "your_email@example.com"
api_key = "your_api_key"

# Read data from table
dataframe = read_table(table_link, email, api_key)

# Check the DataFrame
if dataframe is not None:
    print(dataframe.head())
else:
    print("Failed to read data from the table.")

#### Updating Data in a Table
The update_table function is designed for uploading data from a local pandas DataFrame to a specific table on the Log-hub platform. It requires the table link, the DataFrame, metadata describing the table structure (optional). If no metadata are provided, the datatypes are automatically extracted from the pandas dataframe.

In [42]:
from pyloghub.dataset import update_table
import pandas as pd

# Replace with actual credentials and link
table_link = "https://production.supply-chain-apps.log-hub.com/api/v1/datasets/.../tables/.../rows"
email = "your_email@example.com"
api_key = "your_api_key"

# Example DataFrame
dataframe = pd.DataFrame({
    'ColumnA': ['Value1', 'Value2'],
    'ColumnB': [123, 456]
})

# Metadata for the table
metadata = {
    'table_name': 'YourTableName',  # Optional, defaults to 'Table 01' if not provided
    'columns': [
        {
            'name': 'ColumnA',
            'propertyName': 'ColumnA',
            'dataType': 'string',
            'format': 'General'
        },
        {
            'name': 'ColumnB',
            'propertyName': 'ColumnB',
            'dataType': 'number',
            'format': 'General'
        }
        # More columns as needed
    ]
}

# Update table
response = update_table(table_link, dataframe, metadata, email, api_key)

if response is None:
    print("Table updated successfully.")
else:
    print("Failed to update the table.")